////
/// Notification.
/// @group notification
/// @copyright IBM Security 2019
////

@import 'carbon-components/scss/components/notification/inline-notification';
@import 'carbon-components/scss/components/notification/toast-notification';

@import 'ToastNotification/index';
