////
/// Notification.
/// @group notification
/// @copyright IBM Security 2019
////

@import 'carbon-components/scss/components/notification/inline-notification';
@import 'ToastNotification/index';

@include export-namespace($name: notification--inline) {
  .#{$prefix}--inline-notification {
    @include carbon--type-style($name: body-long-01);
    justify-content: space-between;
    background: $carbon--white-0;
    color: $inverse-01;
  }

  .#{$prefix}--inline-notification__details {
    flex: 1;
  }

  .#{$prefix}--inline-notification__text-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .#{$prefix}--inline-notification__close-button {
    &:hover {
      background-color: $ui-05;
    }

    &:focus {
      background-color: $ui-05;
    }
  }

  .#{$prefix}--inline-notification__close-button
    .#{$prefix}--inline-notification__close-icon {
    fill: currentColor;
  }
}
