////
/// Globals entry point -  TODO: `2.x` - To be removed.
/// @group entry
/// @copyright IBM Security 2019 - 2021
////

@import 'theme/index';
@import 'variables/index';

@import 'carbon-components/scss/globals/scss/helper-mixins';

@import 'color/index';
@import 'grid/index';
@import 'layout/index';
@import 'motion/index';
@import 'type/index';

@import 'border/index';
@import 'deprecate/index';
@import 'feature-flags/index';
@import 'namespace/index';
@import 'rtl/index';

@include export-namespace($name: globals) {
  $deprecate: deprecate(
    $actual: '@carbon/ibm-security/scss/globals',
    $expected:
      "'@carbon/ibm-security/scss' and 'carbon-components/scss/globals/scss/helper-mixins'",
    $url:
      'https://github.com/carbon-design-system/ibm-security/blob/master/docs/migration/2.x/README.md#globals',
  );
}
