////
/// Globals entry point.
/// @group entry
/// @copyright IBM Security 2019
////

@import 'themes/index';

@import 'variables/index';

@import 'color/index';
@import 'grid/index';
@import 'layout/index';
@import 'motion/index';
@import 'type/index';

@import 'carbon-components/scss/globals/scss/css--body';

@import 'carbon-components/scss/globals/scss/helper-mixins';
@import 'carbon-components/scss/globals/scss/vars';

@import '../platform/index';

@import 'border/index';
@import 'deprecate/index';
@import 'feature-flags/index';
@import 'namespace/index';
@import 'rtl/index';
