////
/// Title bar module.
/// @group title-bar-module
/// @copyright IBM Security 2020
////

@import '@carbon/layout/scss/spacing';
@import '@carbon/type/scss/styles';

@import '../../Component/mixins';
@import '../variables';

@import 'variables';

@include security--component($name: $layout-modules__title-bar__name) {
  display: flex;
  align-items: center;

  &__title {
    /// Spacing.
    /// @type Length
    $layout--title__spacing: $carbon--layout-01;

    @include carbon--type-style($name: productive-heading-03);

    margin-top: $layout--title__spacing;
    margin-bottom: $layout--title__spacing;

    &--subsection {
      @include carbon--type-style($name: productive-heading-01);
    }
  }

  &__items {
    /// Spacing.
    /// @type Length
    $layout--title-bar__actions__spacing: $carbon--spacing-02;

    margin-top: $layout--title-bar__actions__spacing;
    margin-bottom: $layout--title-bar__actions__spacing;
    margin-left: auto;
  }
}
