////
/// Summary card mixins.
/// @group summary-card
/// @copyright IBM Security 2019
////

@import '../../globals/index';

@mixin summary-card {
  /// Summary card header height.
  /// @type Length
  /// @access private
  $header--height: carbon--mini-units(4);

  /// Summary card body height.
  /// @type Length
  /// @access private
  $body--height: carbon--mini-units(38);

  /// Summary card footer height.
  /// @type Length
  /// @access private
  $footer--height: carbon--mini-units(6);

  position: relative;
  display: flex;
  min-width: carbon--mini-units(36);
  flex-direction: column;

  &-body {
    // `hidden` because the ScrollGradient will handle overflow:
    overflow: hidden;

    display: flex;
    height: $body--height;
    width: 100%;
    border-bottom: 1px solid $ui-02;
    padding: $carbon--spacing-05;
    margin: 0;
  }

  &-header {
    height: $header--height;
    display: flex;
    padding: $carbon--spacing-05 $carbon--spacing-05 0 $carbon--spacing-05;

    &__title {
      @include carbon--type-style(caption-01);
      color: $text-02;
      flex-grow: 1;
    }
  }

  &-footer {
    position: relative;
    display: flex;
    background-color: $ui-01;
  }

  &-action {
    // Required for truncation:
    display: inline-block;

    flex: 1;

    &.#{$prefix}--btn--icon-only {
      justify-content: center;

      // why is the carbon button not 48px width with centered icon?
      width: $footer--height;
      flex: 0 0 auto;

      // TODO -- https://github.com/carbon-design-system/carbon/issues/4245
      // Carbon has a `border: 0` reset applied with too high of specificity.
      &.#{$prefix}--btn--icon-only:focus {
        border: 3px solid $focus;
      }
    }
  }

  &-action__overlay {
    position: absolute;
    background-color: $overlay-01;
    cursor: default;
    z-index: z($layer: overlay);
    top: -($header--height + $body--height);
    bottom: $footer--height;
    right: 0;
    left: 0;
    padding: $carbon--spacing-05;

    &__transition {
      &--enter {
        opacity: 0;

        &--active {
          transition-property: opacity;
          transition-duration: $duration--moderate-01;
          transition-delay: $duration--moderate-01 * 2;
          transition-timing-function: carbon--motion(entrance, productive);
          opacity: 1;
        }
      }

      &--leave {
        opacity: 1;

        &--active {
          transition-property: opacity;
          transition-duration: $duration--moderate-01;
          transition-timing-function: carbon--motion(exit, productive);
          opacity: 0;
        }
      }
    }
  }
}
