////
/// Summary card mixins.
/// @group summary-card
/// @copyright IBM Security 2019
////

@import '../../globals/index';

@mixin summary-card {
  /// Summary card header height.
  /// @type Length
  /// @access private
  $header--height: carbon--mini-units(
    $count: 4,
  );

  /// Summary card body height.
  /// @type Length
  /// @access private
  $body--height: carbon--mini-units(
    $count: 38,
  );

  /// Summary card footer height.
  /// @type Length
  /// @access private
  $footer--height: carbon--mini-units(
    $count: 6,
  );

  position: relative;
  display: flex;
  min-width: carbon--mini-units($count: 36);
  flex-direction: column;
  overflow: hidden;

  &-body {
    @include carbon--type-style($name: body-long-01);

    // `hidden` because the ScrollGradient will handle overflow:
    overflow: hidden;

    display: flex;
    height: $body--height;
    width: 100%;
    border-bottom: 1px solid $ui-02;
    padding: $carbon--spacing-05;
    margin: 0;
  }

  &-header {
    height: $header--height;
    display: flex;
    padding: $carbon--spacing-05 $carbon--spacing-05 0 $carbon--spacing-05;

    &__title {
      @include carbon--type-style($name: caption-01);
      color: $text-02;
      flex-grow: 1;
      margin: 0;
      padding: 0;
    }
  }

  &-footer {
    position: relative;
    display: flex;
    background-color: $ui-01;
  }

  &-action {
    @include text-overflow;
    flex: 1;

    // Required for truncation:
    display: inline-block;

    &--icon-only {
      // TODO -- https://github.com/carbon-design-system/carbon/issues/4245
      // Required until highly specific reset from Carbon is fixed.
      justify-content: center;
      width: $footer--height;
      flex: 0 0 auto;

      &,
      &:hover,
      &:focus,
      &:active {
        color: $text-01;

        .#{$prefix}--btn__icon path {
          fill: $icon-01;
        }
      }

      // TODO -- https://github.com/carbon-design-system/carbon/issues/4245
      // Required until highly specific reset from Carbon is fixed.
      &.#{$prefix}--btn--icon-only:focus {
        border: 3px solid $focus;
      }
    }
  }

  &-action-overlay {
    cursor: default;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: $ui-01;
    z-index: z($layer: overlay);
    top: -($body--height - $carbon--spacing-05);
    bottom: $footer--height;
    right: 0;
    left: 0;

    &__header {
      display: flex;
      justify-content: space-between;
    }

    &__title,
    &__content {
      @include carbon--type-style($name: body-long-01);
      margin: 0;
      padding: $carbon--spacing-05;
    }

    &__close-button {
      align-self: flex-start;

      &,
      &:hover,
      &:focus,
      &:active {
        color: $text-01;

        .#{$prefix}--btn__icon path {
          fill: $icon-01;
        }
      }

      .#{$prefix}--btn__icon {
        margin-left: 0;
        height: carbon--mini-units(2.5);
        width: carbon--mini-units(2.5);
      }
    }

    &__transition {
      &--appear,
      &--enter {
        transform: translate3d(0, $body--height, 0);
        opacity: 0;

        &--active {
          transform: translate3d(0, 0, 0);
          transition: all $duration--moderate-02;
          transition-timing-function: motion(entrance, expressive);
          opacity: 1;
        }
      }

      &--leave {
        transform: translate3d(0, 0, 0);
        opacity: 1;

        &--active {
          transform: translate3d(0, $body--height, 0);
          transition: all $duration--moderate-02;
          transition-timing-function: motion(exit, expressive);
          opacity: 0;
        }
      }
    }
  }
}
