////
/// Card layout styles.
/// @group card-layout
/// @copyright IBM Security 2020
////

@import '../../../globals/namespace/index';
@import '../../../globals/layout/index';

@mixin card-layout {
  display: flex;

  .#{$namespace}card-layout__aside {
    max-width: 25%;
    height: 100%;
    flex-grow: 1;
    margin-left: $carbon--spacing-05;
  }

  .#{$namespace}card-layout__main {
    flex-grow: 1;
  }

  .#{$namespace}card-layout__aside + .#{$namespace}card-layout__main {
    .#{$namespace}card-layout__column--sm {
      max-width: 33.33%;
      flex: 0 0 33.33%;
    }

    .#{$namespace}card-layout__column--md {
      max-width: 66.66%;
      flex: 0 0 66.66%;
    }

    .#{$namespace}card-layout__column--lg {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
}
