////
/// Filter mixins.
/// @filter
/// @copyright IBM Security 2019
////

@import '@carbon/layout/scss/spacing';
@import '@carbon/layout/scss/mini-unit';
@import '@carbon/themes/scss/tokens';
@import 'carbon-components/scss/globals/scss/helper-classes';
@import 'carbon-components/scss/globals/scss/helper-mixins';
@import '../../../globals/namespace/index';

/// Name.
/// @type String
$filter__name: filter;

/// Namespace.
/// @type String
$filter__namespace: get-component-namespace(
  $component-name: $filter__name,
);

@mixin filter {
  $root: &;

  .#{$prefix}--list-box {
    &__field {
      padding-right: 0;
      padding-left: 0;
    }

    &__menu-item__option {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    position: absolute;
    right: $carbon--spacing-05;
    height: 100%;
    top: 0;

    &__icon {
      fill: $icon-02;
    }
  }

  &__add {
    display: flex;

    &__icon {
      fill: currentColor;
      visibility: hidden;
    }
  }

  &__list-item {
    &:focus,
    &:hover {
      #{$root}__add__icon {
        visibility: visible;
      }
    }

    &:focus {
      @include focus-outline('outline');
    }

    &:hover {
      background: $ui-02;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        background: $ui-02;
        height: 1px;
        bottom: 0;
        transform: translateY(1px);
      }
    }

    &:first-of-type > .#{$prefix}--list-box__menu-item__option {
      border-color: transparent;
    }
  }

  &__list-item__entry {
    align-items: center;
    width: 100%;
    justify-content: space-between;
    display: flex;
  }
}
