////
/// Shell mixins.
/// @group shell
/// @copyright IBM Security 2019 - 2020
////

@import '@carbon/themes/scss/tokens';

@import '../Header/mixins';
@import '../Toolbar/mixins';

@import '../ReturnToBanner/variables';

@mixin shell {
  &--active {
    $header: '__header';
    $toolbar: '__toolbar';

    margin-left: $toolbar__sizing__width;

    &#{$header} > #{$header__namespace} {
      width: calc(#{$header__sizing__width} - #{$toolbar__sizing__width});
    }

    &--return {
      &,
      &#{$toolbar},
      &#{$header} > #{$header__namespace},
      #{$toolbar__namespace}__panel {
        margin-top: $return-to-banner__sizing__height;
      }
    }
  }

  &__banner {
    position: fixed;
    top: 0;
  }

  &__skip-to-content {
    position: relative;
    display: flex;
    justify-content: center;

    &__link.#{$prefix}--skip-to-content:focus {
      left: auto;
      border-color: $focus;
      background-color: $interactive-01;
      margin-top: $header__spacing__padding;
      color: $text-04;
    }
  }
}
