////
/// DelimitedList component.
/// @group delimited-list
/// @copyright IBM Security 2019
////

@import '../Component/mixins';

@include component($name: delimited-list) {
  display: flex;

  &__value--truncated {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
