////
/// Layout.
/// @group layout
/// @copyright IBM Security 2020
////

@import '@carbon/layout/scss/spacing';
@import '@carbon/themes/scss/tokens';

@import '../../../globals/border/index';
@import '../../Component/mixins';
@import '../variables';

@include security--component($name: $layout-modules__name) {
  &--background {
    background-color: $ui-01;
    outline: $border__sizing__width solid $ui-background;
  }

  &--hover {
    $layout-module--hover__spacing: $carbon--layout-01;

    padding-top: $layout-module--hover__spacing;
    padding-bottom: $layout-module--hover__spacing;
    cursor: pointer;

    &:hover {
      background-color: $hover-ui;
    }
  }

  &--layout {
    margin-bottom: $carbon--layout-01;
  }
}
