////
/// Documentation styles.
/// @group storybook
/// @copyright IBM Security 2020
////

@import '@carbon/layout/scss/spacing';

@import '../../src/platform/body/mixins';

.sbdocs {
  .sbdocs-h3 {
    &,
    &:first-of-type {
      margin-top: $carbon--layout-05;
    }
  }

  & &-preview {
    background-color: $body__color__background;
  }

  [title='Required'] {
    color: inherit;
  }

  .storybook__image--link:hover {
    opacity: 0.9;
  }
}
