{
  "extends": [
    "carbon",
    "plugin:compat/recommended",
    "plugin:security/recommended",
    "prettier"
  ],
  "plugins": ["compat", "jsx-a11y", "security"],
  "rules": {
    "react/display-name": "warn",
    "react/prop-types": "warn"
  }
}
