{
  "linters": {
    '*.{js,md,scss}': ['yarn format:precommit', 'git add'],
    '*.js': ['yarn lint:js:precommit', 'git add', 'yarn test:precommit'],
    '*.scss': ['yarn lint:scss:precommit', 'git add'],
  }
}
