{
  branches: [
    'master',
    'next',
    {
      channel: 'canary',
      name: 'dev',
      prerelease: 'prerelease',
    },
    {
      channel: 'alpha',
      name: '635/breadcrumb-page-title',
      prerelease: 'alpha',
    },
  ],
  plugins: [
    '@semantic-release/commit-analyzer',
    '@semantic-release/release-notes-generator',
    '@semantic-release/npm',
    '@semantic-release/github',
    ['@semantic-release/git', {
      assets: 'package.json',
      message: "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}",
    }],
  ],
}
