{
  "extends": ["stylelint-config-carbon"],
  "plugins": ["stylelint-plugin-carbon-tokens"],
  "rules": {
    "carbon/motion-token-use": [true, { "severity": "warning" }],
    "carbon/type-token-use": [
      true,
      {
        "acceptCarbonFontWeightFunction": true,
        "acceptCarbonTypeScaleFunction": true,
        "severity": "warning"
      }
    ],
    "declaration-property-value-disallowed-list": null,
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": ["/^spacing-/"]
      }
    ],
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["export"]
      }
    ]
  }
}
