{
  "extends": "stylelint-config-recommended-scss",
  "plugins": [
    "stylelint-no-unsupported-browser-features",
    "stylelint-scss"
  ],
  "rules": {
    "plugin/no-unsupported-browser-features": [
      true,
      {
        "severity": "warning"
      }
    ],
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": [
          "export"
        ]
      }
    ],
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": [
          "/^spacing-/"
        ]
      }
    ]
  }
}
