////
/// Card module.
/// @group card-module
/// @copyright IBM Security 2020
////

@import '@carbon/layout/scss/spacing';
@import '@carbon/themes/scss/tokens';

@import '../../../globals/border/index';
@import '../../Component/mixins';

@import '../variables';

@include security--component($name: #{$layout-modules__name}--card) {
  padding-bottom: $carbon--layout-01;

  &__component {
    margin-bottom: $carbon--layout-01;
    background-color: $ui-01;
    outline: $border__sizing__width solid $ui-background;
  }
}
