////
/// Theme functions.
/// @group theme
/// @copyright IBM Security 2019 - 2020
////

@import '@carbon/layout/scss/spacing';
@import '@carbon/type/scss/styles';

/* @warn $carbon--container;
@warn $carbon--fluid-spacing;
@warn $carbon--icon-size;
@warn $carbon--layout;
@warn $carbon--spacing;
@warn $tokens; */

@function something($args...) {
  $rv: ();
  @each $arg in $args {
    $rv: append($rv, $arg, comma);
  }
  @return $rv;
}

$list: something(
  $carbon--container,
  $carbon--fluid-spacing,
  $carbon--icon-size,
  $carbon--layout,
  $carbon--spacing,
  $tokens
);

@warn $list;

/// Removes non-color tokens from a theme.
/// @param {Map<String, Color>} $theme The theme to remove the tokens from.
/// @returns {Map<String, Color>} The transformed theme.
/// @access private
@function security--tokens-remove($theme) {
  @each $token in map-keys($map: $list) {
    $theme: map-remove($theme, $token);
  }

  @return $theme;
}
