////
/// Theme helpers.
/// @group theme
/// @copyright IBM Security 2019
////

@import '@carbon/themes/scss/mixins';

@import 'functions';

/// Default theme.
/// @type Map<String, Color>
/// @access private
$-theme: security--type-tokens-remove(
  $theme: $carbon--theme--g100,
);

// Map the theme tokens as CSS custom properties.
@each $token, $value in $-theme {
  $-theme: map-merge(
    $map1: $-theme,
    $map2: (
      $token: var(--#{$token}, $value),
    ),
  );
}

/// Carbon theme.
/// @type Map<String, Color>
$carbon--theme: $-theme;

@include carbon--theme;

@import '../variables/index';

@import 'carbon-components/scss/globals/scss/theme';

@import '../deprecate/index';
@import '../../components/Component/mixins';

@import 'mixins';
@import 'variables';

// TODO: `2.x` - To be removed after the `theme` function is deprecated.

/// Dark theme.
/// @type String
/// @access private
/// @deprecated
$theme: dark;

/// Handles theme switching between light and dark.
/// @param {Color} $light The light color to use.
/// @param {Color} $dark The dark color to use.
/// @returns {Color} The determined theme color to use.
/// @access private
/// @deprecated
@function theme($light, $dark) {
  @warn deprecate($actual: 'theme', $expected: '@carbon/themes');

  @return if($theme == dark, $dark, $light);
}

// Outputs the relevant classes for each supported theme.
@each $theme, $tokens in $security--themes {
  @include security--component($name: $theme) {
    @include security--generate-css-custom-properties($theme: $tokens);
  }
}

@include security--component($name: input__background__color--light) {
  @include input__background-color;
}
