////
/// Theme helpers.
/// @group theme
/// @copyright IBM Security 2019 - 2020
////

@import '@carbon/themes/scss/mixins';

@import '../../components/Component/mixins';
@import '../deprecate/index';
@import '../feature-flags/index';

@import 'variables';

// Theme blacklist.
/// @type List<String>
/// @access private
$security--theme__blacklist: ();

/// Security theme.
/// @type Map<String, Color>
$security--theme: $carbon--theme--g100 !default;

/// Default theme.
/// @type Map<String, Color>
/// @access private
$-theme: $security--theme;

@if feature-flag-enabled($feature: $theme__name) {
  // Map the theme tokens as CSS custom properties, unless they're included in the blacklist.
  @each $token, $value in $-theme {
    $security--theme__blacklist: if(
      $condition: type-of($value) == 'color',
      $if_true: $security--theme__blacklist,
      $if_false:
        append(
          $list: $security--theme__blacklist,
          $val: $token,
        ),
    );

    $-theme: map-merge(
      $map1: $-theme,
      $map2: (
        $token:
          if(
            $condition:
              index(
                $list: $security--theme__blacklist,
                $value: $token,
              ),
            $if_true: $value,
            $if_false: var(--#{$token}, $value),
          ),
      ),
    );
  }
}

/// Carbon theme.
/// @type Map<String, Color>
$carbon--theme: $-theme;

@include carbon--theme;

@import 'carbon-components/scss/globals/scss/theme-tokens';
@import 'mixins';

// TODO: `2.x` - To be removed after the `theme` function is deprecated.

/// Dark theme.
/// @type String
/// @access private
/// @deprecated
$theme: dark;

/// Handles theme switching between light and dark.
/// @param {Color} $light The light color to use.
/// @param {Color} $dark The dark color to use.
/// @returns {Color} The determined theme color to use.
/// @access private
/// @deprecated
@function theme($light, $dark) {
  @warn deprecate($actual: 'theme', $expected: '@carbon/themes');

  @return if($theme == dark, $dark, $light);
}

@include security--component($name: input__background__color--light) {
  @include input__background-color;
}

@if feature-flag-enabled($feature: $theme__name) {
  // Outputs the relevant classes for each supported theme - `$carbon--theme` is required to be set before this can occur.
  @each $theme, $tokens in $security--themes {
    @include security--component($name: $theme) {
      @include security--generate-css-custom-properties($theme: $tokens);
    }
  }
}
