////
/// Theme helpers.
/// @group theme
/// @copyright IBM Security 2019 - 2020
////

@import '@carbon/layout/scss/spacing';
@import '@carbon/themes/scss/mixins';
@import '@carbon/type/scss/styles';

@import '../../components/Component/mixins';
@import '../deprecate/index';
@import '../feature-flags/index';

@import 'variables';

// Theme blacklist.
/// @type List<String>
/// @access private
$security--theme__blacklist: (
  container-01,
  container-02,
  container-03,
  container-04,
  container-05,
  fluid-spacing-01,
  fluid-spacing-02,
  fluid-spacing-03,
  fluid-spacing-04,
  icon-size-01,
  icon-size-02,
  layout-01,
  layout-02,
  layout-03,
  layout-04,
  layout-05,
  layout-06,
  layout-07,
  spacing-01,
  spacing-02,
  spacing-03,
  spacing-04,
  spacing-05,
  spacing-06,
  spacing-07,
  spacing-08,
  spacing-09,
  spacing-10,
  spacing-11,
  spacing-12
);

// Append the type tokens to the theming blacklist.
@each $token in map-keys($map: $tokens) {
  $security--theme__blacklist: append(
    $list: $security--theme__blacklist,
    $val: $token,
  );
}

/// Security theme.
/// @type Map<String, Color>
$security--theme: $carbon--theme--g100 !default;

/// Default theme.
/// @type Map<String, Color>
/// @access private
$-theme: $security--theme;

@if feature-flag-enabled($feature: $theme__name) {
  // Map the theme tokens as CSS custom properties.
  @each $token, $value in $-theme {
    $-theme: map-merge(
      $map1: $-theme,
      $map2: (
        $token:
          if(
            $condition:
              index(
                $list: $security--theme__blacklist,
                $value: $token,
              ),
            $if_true: $value,
            $if_false: var(--#{$token}, $value),
          ),
      ),
    );
  }
}

/// Carbon theme.
/// @type Map<String, Color>
$carbon--theme: $-theme;

@include carbon--theme;

@import 'carbon-components/scss/globals/scss/theme';
@import 'mixins';

// TODO: `2.x` - To be removed after the `theme` function is deprecated.

/// Dark theme.
/// @type String
/// @access private
/// @deprecated
$theme: dark;

/// Handles theme switching between light and dark.
/// @param {Color} $light The light color to use.
/// @param {Color} $dark The dark color to use.
/// @returns {Color} The determined theme color to use.
/// @access private
/// @deprecated
@function theme($light, $dark) {
  @warn deprecate($actual: 'theme', $expected: '@carbon/themes');

  @return if($theme == dark, $dark, $light);
}

@include security--component($name: input__background__color--light) {
  @include input__background-color;
}

@if feature-flag-enabled($feature: $theme__name) {
  // Outputs the relevant classes for each supported theme - `$carbon--theme` is required to be set before this can occur.
  @each $theme, $tokens in $security--themes {
    @include security--component($name: $theme) {
      @include security--generate-css-custom-properties($theme: $tokens);
    }
  }
}
