////
/// Button mixins.
/// @group button
/// @copyright IBM Security 2019
////

@import '@carbon/layout/scss/spacing';
@import '@carbon/type/scss/styles';

@mixin button {
  /// Padding.
  /// @type Length
  $button__spacing__padding: $carbon--spacing-05;

  &--large {
    @include carbon--type-style($name: body-short-02);

    width: 100%;
    height: $carbon--layout-06;
    padding: $button__spacing__padding;
    align-items: start;
    flex-direction: column;

    /// Selector.
    /// @type String
    $carbon--button__selector: '.#{$prefix}--btn';

    > #{$carbon--button__selector}__icon {
      position: absolute;
      bottom: $button__spacing__padding;
      width: unset;
      height: unset;
      margin-left: unset;
    }
  }
}
