////
/// Filter accordion item mixins.
/// @copyright IBM Security 2020
////

@import '../../../globals/index';

@mixin filter-accordion-item {
  /// Scroller padding.
  /// @type Length
  $filter-accordion-item__spacing__padding: $carbon--spacing-05;

  border-top-width: 0;

  &:last-child {
    border-bottom-width: 0;
  }

  &__list {
    width: calc(100% + #{$filter-accordion-item__spacing__padding / 2});
    padding-left: 0;
  }

  &__scroller {
    @include transition($transition-property: height);
    padding-right: $filter-accordion-item__spacing__padding;
  }

  &__count {
    @include carbon--type-style($name: caption-01);
  }

  /// Carbon accordion selector.
  /// @type String
  $carbon--accordion: '.#{$prefix}--accordion';

  > #{$carbon--accordion} {
    &__heading {
      /// Scroller padding.
      /// @type Length
      $filter-accordion-item__content__spacing__padding: $carbon--spacing-02;

      padding-top: $filter-accordion-item__content__spacing__padding;
      padding-bottom: $filter-accordion-item__content__spacing__padding;
      color: $text-02;
    }

    &__content {
      padding: 0 0 0 $filter-accordion-item__spacing__padding;
    }
  }

  &#{$carbon--accordion}__item--active > #{$carbon--accordion}__heading {
    color: $text-01;
  }

  &__button--toggle {
    /// Button padding.
    /// @type Length
    $filter-accordion-item__button__spacing__padding: $carbon--spacing-02;

    position: relative;
    left: -$filter-accordion-item__button__spacing__padding;
    width: 100%;
    min-height: auto;
    padding: $filter-accordion-item__button__spacing__padding;
    justify-content: start;

    /// Carbon button selector.
    /// @type Length
    $carbon--button: '.#{$prefix}--btn';

    &#{$carbon--button} {
      /// Carbon button icon selector.
      /// @type Length
      $carbon--button__icon: '#{$carbon--button}__icon';

      &,
      &:active,
      &:hover {
        color: $text-02;
      }

      &,
      &:hover {
        > #{$carbon--button__icon} {
          fill: currentColor;
        }
      }

      > #{$carbon--button__icon} {
        margin-right: $carbon--spacing-03;
        margin-left: 0;
        order: -1;
      }
    }
  }
}
