////
/// Multi select component.
/// @group multi-select
/// @copyright IBM Security 2018
////

@import '../../globals/variables/index';
@import 'carbon-components/scss/components/multi-select/multi-select';
@import '../../globals/namespace/index';

@include export-namespace($name: multi-select) {
  .#{$prefix}--multi-select {
    /// https://github.com/carbon-design-system/carbon-components/issues/2398
    &,
    * {
      box-sizing: border-box;
    }

    /// https://github.com/carbon-design-system/carbon-components/pull/2400
    .#{$prefix}--list-box__selection--multi > svg {
      fill: $inverse-01;

      &:hover {
        fill: $icon-03;
      }
    }

    .#{$prefix}--list-box__menu-item__option {
      .#{$prefix}--checkbox-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
      }

      > .#{$prefix}--form-item {
        margin: 0;
        flex-direction: row;
      }
    }
  }
}
