////
/// Breadcrumb page title.
/// @group breadcrumb-page-title
/// @copyright IBM Security 2020
////

@import '@carbon/layout/scss/mini-unit';
@import '@carbon/type/scss/styles';

@import '../../globals/motion/index';

@import '../Breadcrumb/index';
@import '../Header/mixins';

@import '../Component/mixins';

@include security--component($name: breadcrumb-page-title) {
  /// Spacing.
  /// @type Length
  $breadcrumb-page-title__spacing: $carbon--spacing-05;

  /// Box shadow sizing.
  /// @type Length
  $breadcrumb-page-title__box-shadow__sizing: carbon--mini-units(
    $count: 1,
  );

  padding-top: $breadcrumb-page-title__spacing;
  padding-bottom: $breadcrumb-page-title__spacing;
  box-shadow: 0 carbon--mini-units($count: 2)
    $breadcrumb-page-title__box-shadow__sizing -$breadcrumb-page-title__box-shadow__sizing
    $header__color__background;

  &__breadcrumb {
    position: relative;
    min-height: map-get(
      $map: map-get($map: $tokens, $key: $breadcrumb__item__link__type-style),
      $key: line-height
    );
    z-index: 1;
  }

  &__title {
    @include carbon--type-style($name: productive-heading-04);

    margin-top: $carbon--spacing-03;
    margin-bottom: 0;
  }

  &__transition {
    @include transition--opacity;

    &--enter,
    &--leave {
      &--active {
        transition-duration: $transition-duration;
        transition-property: opacity;
      }
    }
  }
}
