////
/// ICA module.
/// @group ica-module
/// @copyright IBM Security 2020
////

@import '@carbon/layout/scss/spacing';
@import '@carbon/themes/scss/tokens';

@import '../../../globals/namespace/index';
@import '../../Component/mixins';
@import '../TitleBar/variables';
@import '../variables';

@include security--component($name: #{$layout-modules__name}--ica) {
  padding-top: $carbon--layout-01;
  padding-bottom: $carbon--layout-03;

  &--hover {
    /// Hover spacing.
    /// @type Length
    $layout-module--hover__spacing: $carbon--layout-01;

    padding-top: $layout-module--hover__spacing;
    padding-bottom: $layout-module--hover__spacing;
    cursor: pointer;

    &:hover {
      background-color: $hover-ui;
    }
  }

  /// Title bar module namespace.
  /// @type String
  $layout-modules__title-bar__namespace: get-component-namespace(
    $component-name: $layout-modules__title-bar__name,
  );

  > #{$layout-modules__title-bar__namespace}
    > #{$layout-modules__title-bar__namespace}__title {
    margin-top: 0;
  }
}
