////
/// ICA module.
/// @group ica-module
/// @copyright IBM Security 2020
////

@import '@carbon/layout/scss/spacing';
@import '@carbon/themes/scss/tokens';
@import 'carbon-components/scss/globals/scss/vars';

@import '../../Component/mixins';
@import '../variables';

@include security--component($name: #{$layout-modules__name}--ica) {
  padding-top: $carbon--layout-01;

  &__ica {
    margin-bottom: $carbon--layout-03;

    &--interactive {
      /// Spacing.
      /// @type Length
      $layout--ica--interactive__spacing: $carbon--layout-01;

      padding-top: $layout--ica--interactive__spacing;
      padding-bottom: $layout--ica--interactive__spacing;

      &:hover {
        background-color: $hover-ui;
      }
    }
  }
}
