////
/// Title bar module.
/// @group title-bar-module
/// @copyright IBM Security 2020
////

@import '@carbon/layout/scss/spacing';
@import '@carbon/type/scss/styles';

@import '../../Component/mixins';
@import 'variables';

@include security--component($name: $layout-modules__title-bar__name) {
  /// Spacing.
  /// @type Length
  $title-bar__spacing: $carbon--layout-01;

  display: flex;
  padding-top: $title-bar__spacing;
  padding-bottom: $title-bar__spacing;
  align-items: center;

  &__title {
    @include carbon--type-style($name: productive-heading-03);
    margin-top: 0;
    margin-bottom: 0;

    &--subsection {
      @include carbon--type-style($name: productive-heading-01);
    }
  }

  &__items {
    margin-left: auto;
  }
}
