////
/// Filter group mixins.
/// @group filter-panel
/// @copyright IBM Security 2020
////

@import '../../../globals/index';

@mixin filter-group {
  /// Padding.
  /// @type Length
  $filter-group__spacing__padding: $carbon--spacing-03;

  padding-top: $filter-group__spacing__padding;
  padding-bottom: $filter-group__spacing__padding;
  border-top: 1px solid $ui-03;

  &__title {
    @include carbon--type-style($name: caption-01);
    @include carbon--font-weight($weight: semibold);

    margin-top: 0;
    margin-bottom: $carbon--spacing-05;
  }
}
