////
/// Combo button component.
/// @group combo-button
/// @copyright IBM Security 2019 - 2020
////

@import '@carbon/layout/scss/mini-unit';
@import '@carbon/layout/scss/spacing';
@import '@carbon/themes/scss/tokens';

@import 'carbon-components/scss/globals/scss/helper-mixins';

@import '../Button/index';
@import '../Dropdown/index';
@import '../OverflowMenu/index';

@import '../Component/mixins';

@include security--component($name: combo-button) {
  $root: &;

  display: inline-flex;
  position: relative;

  & &--primary {
    @include text-overflow;
    display: flex;
    flex: 1;
  }

  &__group {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  &__icon {
    fill: $icon-03;
    pointer-events: none;
  }

  & &__overflow-menu {
    width: 3rem;
    background-color: $interactive-01;
    margin-left: 1px;

    &:hover,
    &.#{$prefix}--overflow-menu--open {
      background-color: $hover-primary;
    }

    &:active {
      background-color: $active-primary;
    }
  }

  .#{$prefix}--overflow-menu-options {
    display: grid;
    width: 100%;
    background-color: $ui-02;
    outline: unset;

    &__option {
      display: inherit;

      &:hover {
        background-color: $hover-selected-ui;
      }

      &:first-child #{$root}-item__wrapper {
        border-top-color: transparent;
      }
    }

    &::after {
      display: none;
    }
  }

  &-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  & &-item__wrapper {
    @include text-overflow();
    outline: unset;
    padding: 0;
    margin: 0 1rem;
    border-top: 1px solid $active-ui;
    border-bottom: 1px solid transparent;
    display: flex;
    width: unset;
    max-width: unset;
    justify-content: space-between;

    &:focus {
      @include focus-outline('outline');
      margin: 0;
      padding: 0 1rem;
      border-color: transparent;
    }

    &:hover {
      color: $text-01;
      background-color: unset;
    }

    & > span + svg {
      margin-left: $carbon--spacing-03;
      flex-shrink: 0;
    }

    &:disabled,
    &:disabled:hover {
      color: $text-03;

      svg {
        fill: $text-03;
      }
    }
  }
}
