////
/// Scroll gradient mixins.
/// @copyright IBM Security 2019
////

@import '@carbon/layout/scss/spacing';

/// Thickness of gradient.
/// @type Length
$scroll-gradient__gradient__sizing: $carbon--layout-04;

@mixin scroll-gradient {
  $block: &;
  width: inherit;
  height: inherit;
  position: relative;
  display: flex;
  justify-content: stretch;
  align-items: stretch;

  &__content {
    overflow: auto;
    height: inherit;
    width: 100%;
  }

  &__before,
  &__after {
    display: block;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
  }

  &--x {
    #{$block}__before,
    #{$block}__after {
      top: 0;
      width: $scroll-gradient__gradient__sizing;
      height: 100%;
    }

    #{$block}__before {
      left: 0;
    }

    #{$block}__after {
      right: 0;
    }
  }

  &--y {
    #{$block}__before,
    #{$block}__after {
      left: 0;
      height: $scroll-gradient__gradient__sizing;
      width: 100%;
    }

    #{$block}__before {
      top: 0;
    }

    #{$block}__after {
      bottom: 0;
    }
  }

  &--initial,
  &--started {
    #{$block}__after {
      opacity: 1;
    }
  }

  &--end,
  &--started {
    #{$block}__before {
      opacity: 1;
    }
  }
}
