////
/// ICA module.
/// @group ica-module
/// @copyright IBM Security 2020
////

@import '@carbon/layout/scss/spacing';
@import '@carbon/themes/scss/tokens';
@import 'carbon-components/scss/globals/scss/vars';

@import '../../../Component/mixins';
@import '../TitleModule/variables';
@import '../variables';

@include security--component($name: #{$layout-modules__name}--ica) {
  @include layout__modules--title--first-child;

  padding-top: $carbon--layout-01;
  padding-bottom: $carbon--layout-03;

  &__ica--hover {
    /// Spacing.
    /// @type Length
    $layout--ica--hover__spacing: $carbon--layout-01;

    padding-top: $layout--ica--hover__spacing;
    padding-bottom: $layout--ica--hover__spacing;

    &:hover {
      background-color: $hover-ui;
    }
  }
}
