////
/// Type layout component.
/// @group type-layout
/// @copyright IBM Security 2019 - 2021
////

@import '@carbon/layout/scss/breakpoint';
@import '@carbon/layout/scss/mini-unit';
@import '@carbon/layout/scss/spacing';
@import '@carbon/themes/scss/tokens';
@import '@carbon/type/scss/styles';

@import 'carbon-components/scss/globals/scss/css--reset';

@import '../../globals/border/index';

@import '../Component/mixins';
@import 'variables';

@import '../StructuredList/index';

@mixin description-list--stacked {
  display: block;
  padding-right: 0;
  padding-left: 0;
}

@mixin description-list__padding($top, $right, $bottom, $left) {
  &:first-of-type {
    padding-top: $top;

    @include carbon--breakpoint($name: md) {
      padding-right: $right;
    }
  }

  &:last-of-type {
    padding-bottom: $bottom;

    @include carbon--breakpoint($name: md) {
      padding-left: $left;
    }
  }
}

@include security--component($name: $type-layout__name) {
  $root: &;

  @include carbon--type-style($name: body-short-01);
  margin-bottom: $carbon--layout-03;

  &__row {
    border-width: 0;

    &:first-of-type > #{$root}__cell:first-of-type {
      padding-top: 0;
    }

    &:last-of-type > #{$root}__cell:last-of-type {
      padding-bottom: 0;
    }
  }

  &__cell {
    @include description-list--stacked;

    @include description-list__padding(
      $top: $carbon--spacing-03,
      $right: $carbon--spacing-06,
      $bottom: $carbon--spacing-03,
      $left: $carbon--spacing-03
    );

    @include carbon--breakpoint($name: md) {
      display: table-cell;
    }

    &:first-of-type {
      width: 1%;
      padding-bottom: 0;
      white-space: nowrap;
    }

    &:last-of-type {
      padding-top: 0;
      color: $text-01;
    }

    ul {
      @include reset;

      > li {
        margin-bottom: $carbon--spacing-03;
      }
    }
  }

  &--lg &__cell {
    @include description-list__padding(
      $top: $carbon--spacing-05,
      $right: $carbon--spacing-06,
      $bottom: $carbon--spacing-05,
      $left: $carbon--spacing-05
    );
  }

  &--sm &__cell {
    @include carbon--type-style($name: caption-01);

    @include description-list__padding(
      $top: $carbon--spacing-02,
      $right: $carbon--spacing-06,
      $bottom: $carbon--spacing-02,
      $left: $carbon--spacing-02
    );
  }

  &--xs &__cell {
    @include carbon--type-style($name: caption-01);

    @include description-list__padding(
      $top: $carbon--spacing-02,
      $right: $carbon--spacing-02,
      $bottom: $carbon--spacing-02,
      $left: $carbon--spacing-02
    );
  }

  &--stacked &__cell {
    @include description-list--stacked;
  }

  &--bordered &__row {
    border-width: $border__sizing__width;

    &:last-child {
      border-width: 0;
    }
  }
}
