////
/// Type layout mixins.
/// @group type-layout
/// @copyright IBM Security 2019
////

@import '../../globals/index';

@mixin type-layout__container {
  $root: &;

  @include carbon--type-style($name: body-short-01);

  max-width: unset;
  min-width: unset;
  margin-bottom: $carbon--spacing-07;
  margin-bottom: $spacing-xl;

  &__row {
    border-width: 0;

    &:first-of-type > #{$root}__cell {
      padding-top: 0;
    }

    &:last-of-type > #{$root}__cell {
      padding-bottom: 0;
    }
  }

  &__cell {
    @include rtl {
      &:first-of-type {
        padding-right: 0;
        padding-left: unset;
      }

      &:last-of-type {
        padding-right: unset;
        padding-left: 0;
      }
    }

    display: table-cell;
    padding: $carbon--spacing-03;
    color: $text-01;

    &:first-of-type {
      padding-left: 0;
      color: $text-02;
      width: 1%;
      white-space: nowrap;
      padding-right: $carbon--spacing-06;
    }

    &:last-of-type {
      padding-right: 0;
    }

    &--lg {
      padding: $carbon--spacing-05;
    }

    &--sm,
    &--xs,
    &--xs:first-of-type {
      @include carbon--type-style($name: caption-01);
      padding: $carbon--spacing-02;
    }

    ul {
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 0;
      list-style: none;

      li {
        margin-bottom: carbon--mini-units($count: 1);
      }
    }
  }

  &--xs {
    max-width: unset;
  }

  &--border &__row {
    border-bottom: 1px solid $ui-02;

    &:last-child {
      border-width: 0;
    }
  }
}
