////
/// Type layout mixins.
/// @group type-layout
/// @copyright IBM Security 2019
////

@import '../../globals/index';

@mixin type-layout__container {
  $root: &;

  @include carbon--type-style($name: body-short-01);

  max-width: unset;
  min-width: unset;
  margin-bottom: $carbon--spacing-07;
  margin-bottom: $spacing-xl;

  &__row {
    border-width: 0;

    &:first-of-type > #{$root}__cell {
      padding-top: 0;
    }

    &:last-of-type > #{$root}__cell {
      padding-bottom: 0;
    }
  }

  &__cell {
    @include rtl {
      &:first-of-type {
        padding-right: 0;
        padding-left: unset;
      }

      &:last-of-type {
        padding-right: unset;
        padding-left: 0;
      }
    }

    display: table-cell;
    padding: $carbon--spacing-03 $carbon--spacing-06 $carbon--spacing-03
      $carbon--spacing-03;
    color: $text-01;
  }

  &--lg &__cell {
    padding: $carbon--spacing-05 $carbon--spacing-06 $carbon--spacing-05
      $carbon--spacing-05;
  }

  &--sm &__cell {
    @include carbon--type-style($name: caption-01);
    padding: $carbon--spacing-02 $carbon--spacing-06 $carbon--spacing-02
      $carbon--spacing-02;
  }

  &--xs &__cell {
    @include carbon--type-style($name: caption-01);
    padding: $carbon--spacing-02;
  }

  // xs size should always have a little left padding:
  &:not(&--xs) #{$root}__cell:first-of-type {
    padding-left: 0;
  }

  &__cell:first-of-type {
    color: $text-02;
    width: 1%;
    white-space: nowrap;
  }

  &__cell:last-of-type {
    padding-right: 0;
  }

  &__cell ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;

    li {
      margin-bottom: carbon--mini-units($count: 1);
    }
  }

  &--bordered &__row {
    border-bottom: 1px solid $ui-02;

    &:last-child {
      border-width: 0;
    }
  }
}
