jobs:
  build:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run: yarn install --offline --frozen-lockfile
      - run: scripts/ci/build.sh
      - run: yarn test
      - run: yarn semantic-release
