////
/// Upsell nudge.
/// @group upsell-nudge
/// @copyright IBM Security 2020
////

@import '@carbon/layout/scss/convert';
@import '@carbon/layout/scss/mini-unit';
@import '@carbon/layout/scss/spacing';
@import '@carbon/themes/scss/tokens';
@import '@carbon/type/scss/styles';

@import '../Button/index';

@import '../Component/mixins';

@include security--component($name: upsell-nudge) {
  /// Spacing.
  /// @type Length
  $upsell-nudge__spacing: $carbon--spacing-03;

  /// Border height.
  /// @type Length
  $upsell-nudge__border__sizing__height: rem(
    $px: 2px,
  );

  padding-top: $upsell-nudge__spacing;
  background-image: linear-gradient(rgba(0, 0, 0, 0), $ui-01);

  &__container {
    padding-right: $carbon--spacing-07;
    padding-left: $carbon--spacing-05;
  }

  &__icon {
    margin-bottom: $upsell-nudge__spacing;
  }

  &__title {
    @include carbon--type-style($name: productive-heading-03);

    margin-top: 0;
    margin-bottom: $upsell-nudge__spacing;
  }

  &__content {
    @include carbon--type-style($name: body-short-01);

    position: relative;
    padding-top: $upsell-nudge__border__sizing__height + $upsell-nudge__spacing;
    margin-bottom: $upsell-nudge__spacing;

    &::before {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      max-width: carbon--mini-units($count: 9);
      width: 100%;
      height: $upsell-nudge__border__sizing__height;
      background-color: $ui-03;
      content: '';
    }
  }

  &__button {
    width: 100%;
    max-width: unset;
  }
}
