////
/// Upsell nudge.
/// @group upsell-nudge
/// @copyright IBM Security 2020
////

@import '@carbon/layout/scss/convert';
@import '@carbon/layout/scss/mini-unit';
@import '@carbon/layout/scss/spacing';
@import '@carbon/themes/scss/tokens';
@import '@carbon/type/scss/styles';

@import '../Component/mixins';

@include security--component($name: upsell-nudge) {
  /// Spacing.
  /// @type Length
  $upsell-nudge__spacing: $carbon--spacing-04;

  padding: $carbon--spacing-05;

  &__icon {
    display: block;
    margin-bottom: $carbon--spacing-02;
  }

  &__description {
    @include carbon--type-style($name: productive-heading-03);
    margin-bottom: $upsell-nudge__spacing;
  }

  &__title {
    @include carbon--type-style($name: body-short-01);

    position: relative;
    padding-top: $upsell-nudge__spacing;
    margin-bottom: $carbon--spacing-07;

    &::before {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      max-width: carbon--mini-units($count: 10);
      width: 100%;
      height: rem($px: 2px);
      background-color: $ui-03;
      content: '';
    }
  }
}
