////
/// Tag wall.
/// @group tag-wall
/// @copyright IBM Security 2019
////

@import '../Component/mixins';
@import '../Tag/index';
@import '../Button/index';

@import 'mixins';

@include component($name: tag-wall) {
  @include tag-wall;
}
