////
/// Tag wall mixins.
/// @group tag-wall
/// @copyright IBM Security 2019
////

@import '@carbon/type/scss/index';
@import '@carbon/layout/scss/spacing';
@import 'carbon-components/scss/globals/scss/helper-classes';

@mixin tag-wall {
  &__label {
    @include carbon--type-style($name: caption-01);
  }

  > #{$tag--interactive__namespace} {
    margin-right: $carbon--spacing-03;
    max-width: 40ex;
    justify-content: space-between;

    &__button {
      flex-shrink: 0;
    }
  }
}
