////
/// External link mixins.
/// @group link--external
/// @copyright IBM Security 2019
////

@import '../../globals/index';

@mixin link--external {
  @include carbon--type-style($name: body-short-01);
  position: relative;
  box-shadow: none;
  word-wrap: break-word;

  &__title {
    margin-right: $carbon--spacing-02;
    word-wrap: break-word;

    @include rtl {
      margin-right: unset;
      margin-left: $carbon--spacing-02;
    }
  }

  &__icon {
    fill: currentColor;
    vertical-align: middle;
  }
}
