////
/// Portal mixins.
/// @group portal
/// @copyright IBM Security 2019 - 2021
////

@import '@carbon/themes/scss/tokens';

@import '../../globals/layout/index';

@import '../Tearsheet/mixins';

@mixin portal {
  &__overlay {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $overlay-01;
    justify-content: center;
    z-index: z($layer: security--portal);

    &:focus {
      outline: unset;
    }
  }

  &__container {
    overflow-y: hidden;

    .#{$prefix}--tooltip {
      z-index: z($layer: security--tearsheet);
    }
  }
}
