////
/// Unstable pagination component.
/// @group unstable-pagination
/// @copyright IBM Security 2019 - 2021
////

@import 'carbon-components/scss/globals/scss/vars';
@import 'carbon-components/scss/globals/scss/css--reset';

@import '../../globals/layout';
@import '../../globals/namespace';
@import '../../globals/theme';
@import '../../globals/type';

@include security--component($name: unstable-pagination) {
  @include reset;
  @include carbon--type-style('body-short-01');
  width: 100%;
  background-color: $ui-01;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $ui-03;
  height: rem(48px);
  overflow: hidden;

  &__text {
    @include carbon--breakpoint('md') {
      display: inline-block;
    }

    margin: 0 $carbon--spacing-05;
    color: $text-02;
  }

  &__left,
  &__right {
    display: flex;
    height: 100%;
    align-items: center;

    & > .#{$prefix}--form-item {
      height: 100%;
    }
  }

  &__left {
    padding: 0 $carbon--spacing-05 0 0;
  }

  &__left &__text {
    margin-right: rem(1px);
  }

  &__right &__text {
    margin-right: $carbon--spacing-05;
    margin-left: rem(1px);
  }

  &__button {
    @include reset;
    border: none;
    background: none;
    cursor: pointer;
    height: 100%;
    margin: 0;
    padding: 0 rem(14px);
    border-left: 1px solid $ui-03;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $ui-05;
    transition: outline $duration--fast-02 motion(standard, productive);
    transition: background-color $duration--fast-02 motion(standard, productive);

    // Required to prevent tooltip trigger button from shrinking icon:
    &.#{$prefix}--btn .#{$prefix}--btn__icon {
      height: unset;
      width: unset;
    }
  }

  &__button,
  &__button:disabled {
    background: none;
    border: 0;
    border-left: 1px solid $ui-03;
  }

  &__button:hover {
    background: $hover-ui;
  }

  &__button.#{$prefix}--btn--icon-only.#{$prefix}--tooltip__trigger:focus {
    outline: none;
    border: 2px solid $focus;
  }

  &__button--no-index {
    fill: $disabled-02;
    cursor: not-allowed;
  }

  &__button:disabled:hover,
  &__button--no-index:hover {
    cursor: not-allowed;
    fill: $disabled-02;
    background: $ui-01;
  }

  &__page-selector,
  &__page-sizer {
    height: 100%;
    align-items: center;

    .#{$prefix}--select-input--inline__wrapper {
      display: flex;
      height: 100%;
    }

    .#{$prefix}--select-input {
      @include carbon--type-style('body-short-01');
      width: auto;
      min-width: auto;
      height: 100%;
      padding: 0 $carbon--spacing-08 0 $carbon--spacing-05;
      margin-right: -0.65rem;
      @include carbon--breakpoint('md') {
        padding-right: carbon--mini-units(4.5);
        margin-right: 0;
      }

      &:hover {
        background: $hover-ui;
      }
    }

    .#{$prefix}--select__arrow {
      top: 50%;
      transform: translateY(-50%);
      @include carbon--breakpoint('md') {
        right: $carbon--spacing-05;
      }
    }
  }

  &__page-selector {
    border-left: 1px solid $ui-02;
  }

  &__page-sizer {
    border-right: 1px solid $ui-02;
  }
}
