////
/// Example background container.
/// @group storybook
/// @copyright IBM Security 2021
////

@import '@carbon/layout/scss/breakpoint';
@import '@carbon/themes/scss/tokens';

@import '../../../src/globals/border/index';

$container--example__spacing: ($carbon--grid-gutter / 2);

.container--example {
  &,
  &--narrow {
    position: relative;
    padding-left: $container--example__spacing;

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      background-color: $ui-01;
      outline: $border__sizing__width solid $ui-background;
      z-index: -1;
      content: '';
    }
  }

  & {
    padding-right: $container--example__spacing;

    &::before {
      right: 0;
      left: -#{$container--example__spacing};
    }
  }

  &--narrow::before {
    right: $container--example__spacing;
    left: 0;
  }
}

.container__border {
  position: relative;

  &::after {
    position: absolute;
    bottom: 0;
    background-color: $ui-background;
    content: '';
  }

  &--bottom,
  &--right {
    &::after {
      right: $container--example__spacing;
    }
  }

  &--bottom {
    &::after {
      left: 0;
      height: $border__sizing__width;
    }
  }

  &--right::after {
    top: 0;
    width: $border__sizing__width;
  }

  &--nested::after {
    left: -$container--example__spacing;
    right: 0;
  }
}
