////
/// Example background container.
/// @group storybook
/// @copyright IBM Security 2021
////

@import '@carbon/layout/scss/breakpoint';
@import '@carbon/themes/scss/tokens';

.container--example {
  $container--example__padding: ($carbon--grid-gutter / 2);

  position: relative;
  padding-left: $container--example__padding;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -#{$container--example__padding};
    background-color: $ui-01;
    z-index: -1;
    content: '';
  }
}
