////
/// Example background container.
/// @group storybook
/// @copyright IBM Security 2021
////

@import '@carbon/layout/scss/breakpoint';
@import '@carbon/themes/scss/tokens';

@import '../../../src/globals/border/index';

.container--example {
  $container--example__spacing: ($carbon--grid-gutter / 2);

  position: relative;
  padding-right: $container--example__spacing;
  padding-left: $container--example__spacing;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $ui-01;
    outline: $border__sizing__width solid $ui-background;
    z-index: -1;
    content: '';
  }

  &--narrow::before {
    left: -#{$container--example__spacing};
  }
}
