////
/// Unstable pagination mixins.
/// @group unstable-pagination
/// @copyright IBM Security 2019
////

@import '../../globals/index';

@mixin unstable-pagination {
  @include reset;
  @include type-style('body-short-01');
  width: 100%;
  background-color: $ui-01;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $ui-03;
  height: rem(48px);

  &__text {
    @include carbon--breakpoint('md') {
      display: inline-block;
    }

    margin: 0 $carbon--spacing-05;
    color: $text-02;
  }

  &__left,
  &__right {
    display: flex;
    height: 100%;
    align-items: center;
    overflow: hidden;
  }

  &__left {
    padding: 0 $carbon--spacing-05;
  }

  &__left &__text {
    margin-right: rem(1px);
  }

  &__right &__text {
    margin-right: 1rem;
    margin-left: rem(1px);
  }

  &__button {
    width: 3rem;
    justify-content: center;
  }

  &__button,
  &__button:disabled {
    background: none;
    border: 0;
    border-left: 1px solid $ui-03;
  }

  &__button:hover {
    background: $hover-ui;
  }

  &__button--no-index {
    fill: $disabled-02;
    cursor: not-allowed;
  }

  &__button:disabled:hover,
  &__button--no-index:hover {
    cursor: not-allowed;
    fill: $disabled-02;
    background: $ui-01;
    border-left: 1px solid $ui-03;
  }
}
