////
/// Breadcrumb component.
/// @group breadcrumb
/// @copyright IBM Security 2019 - 2020
////

@import '@carbon/themes/scss/tokens';
@import '@carbon/type/scss/styles';
@import 'carbon-components/scss/components/breadcrumb/breadcrumb';

@import 'carbon-components/scss/globals/scss/css--reset';
@import 'carbon-components/scss/globals/scss/vars';

@import '../../globals/namespace/index';

@include export-namespace($name: breadcrumb) {
  .#{$prefix}--breadcrumb {
    // TODO: Remove when https://github.com/carbon-design-system/carbon/pull/5916 is absorbed.
    @include reset;

    display: flex;
    flex-wrap: wrap;

    /// Link selector.
    /// @type String
    $carbon--breadcrumb__item__link: '#{&}-item > .#{$prefix}--link';

    &,
    #{$carbon--breadcrumb__item__link} {
      @include carbon--type-style($name: caption-01);
    }

    #{$carbon--breadcrumb__item__link} {
      max-width: 40ex;
      overflow: hidden;
      text-overflow: ellipsis;

      &:visited {
        color: $link-01;
      }
    }
  }
}
