////
/// Breadcrumb component.
/// @group breadcrumb
/// @copyright IBM Security 2019
////

@import '@carbon/type/scss/styles';
@import 'carbon-components/scss/components/breadcrumb/breadcrumb';

@import '../../globals/namespace/index';

/// Carbon style overrides.
@include export-namespace($name: breadcrumb) {
  .#{$prefix}--breadcrumb {
    display: flex;
    flex-wrap: wrap;

    /// Link selector.
    /// @type String
    $carbon--breadcrumb__item__link: '#{&}-item > .#{$prefix}--link';

    &,
    #{$carbon--breadcrumb__item__link} {
      @include carbon--type-style($name: caption-01);
    }

    #{$carbon--breadcrumb__item__link} {
      max-width: 40ex;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
