////
/// Description.
/// @group description
/// @copyright IBM Security 2020
////

@import '@carbon/layout/scss/spacing';
@import '@carbon/type/scss/styles';

@import '../../Component/mixins';
@import '../variables';

@include security--component($name: #{$layout-modules__name}--description) {
  padding-bottom: $carbon--layout-03;

  &__content {
    @include carbon--type-style($name: body-short-01);

    margin-top: 0;
    margin-bottom: $carbon--layout-03;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
