////
/// Progress animation component.
/// @group progress-animation
/// @copyright IBM Security 2020
////

@import '../../globals/namespace/index';
@import '../../globals/layout/index';

@import '../Component/mixins';

@include security--component($name: progress-animation) {
  display: flex;

  &__stroke {
    stroke-dasharray: 100;
    stroke-dashoffset: 0;

    &--animated {
      transition-property: stroke-dashoffset;
    }
  }

  &__message {
    align-self: center;
    margin-left: $carbon--spacing-04;
  }
}
