////
/// Progress animation component.
/// @group progress-animation
/// @copyright IBM Security 2020
////

@import '../../globals/namespace/index';
@import '../../globals/layout/index';

@include export-namespace($name: 'progress-animation') {
  .#{$namespace}progress-animation {
    display: flex;
  }

  .#{$namespace}progress-animation__message {
    align-self: center;
    margin-left: $carbon--spacing-04;
  }
}
