////
/// Filter category styles.
/// @group filter-panel
/// @copyright IBM Security 2019
////

@import '../../Component/mixins';

@import 'mixins';

@include security--component($name: filter-category) {
  @include filter-category;
}
