////
/// Step indiciator mixins.
/// @group step-indicator
/// @copyright IBM Security 2019
////

@import '@carbon/layout/scss/mini-unit';
@import '@carbon/layout/scss/spacing';
@import 'carbon-components/scss/globals/scss/vars';

@import '../../globals/index';

@import '../../globals/namespace/index';

@mixin step-indicator {
  flex-direction: column;

  > #{get-component-namespace($component-name: step)} {
    /// Progress indicator selector.
    /// @type String
    $carbon--progress-indicator: '.#{$prefix}--progress';

    /// Progress indicator step selector.
    /// @type String
    $carbon--progress-indicator__step: '#{$carbon--progress-indicator}-step';

    /// Step margin.
    /// @type Length
    $step-indicator__step__spacing__margin: $carbon--spacing-02;

    width: 100%;
    min-width: unset;
    margin-top: $step-indicator__step__spacing__margin;
    margin-bottom: $step-indicator__step__spacing__margin;

    > #{$carbon--progress-indicator__step} {
      &-button {
        align-items: center;

        > svg {
          position: absolute;
          margin-top: 0;
          margin-right: 0;
        }

        > #{$carbon--progress-indicator} {
          &-label {
            max-width: unset;
            padding-left: $carbon--spacing-07;
            margin-top: 0;

            &:hover {
              box-shadow: unset;
              color: unset;
              cursor: default;
            }
          }

          &-line {
            @include hidden;
          }
        }
      }
    }

    &#{$carbon--progress-indicator__step} {
      &--current svg {
        transform: translate3d(#{carbon--mini-units($count: 0.125)}, 0, 0);
      }

      &--disabled {
        &,
        svg:hover {
          cursor: default;
        }

        #{$carbon--progress-indicator}-label,
        svg {
          &:hover {
            color: $disabled-03;
          }
        }
      }
    }
  }
}
