////
/// Tearsheet component.
/// @group tearsheet
/// @copyright IBM Security 2019
////

@import '../../globals/variables/index';

@import '../Component/mixins';
@import '../Button/index';
@import '../Portal/index';
@import 'TearsheetSmall/index';

@import 'mixins';

@include security--component($name: $tearsheet__name) {
  @include tearsheet;
}
