////
/// Background mixins.
/// @group background
/// @copyright IBM Security 2020
////

@import '@carbon/themes/scss/tokens';

@import '../../../../globals/border/index';

@mixin layout__modules--background {
  background-color: $ui-01;
  outline: $border__sizing__width solid $ui-background;
}
