////
/// Decorators.
/// @group storybook
/// @copyright IBM Security 2020 - 2021
////

@use '@carbon/layout/scss/modules/breakpoint';
@use 'sass:map';

@function breakpoints-width-get($name) {
  @return map.get(
    $map: map.get($map: breakpoint.$grid-breakpoints, $key: $name),
    $key: width
  );
}

.decorator {
  width: 33vw;

  max-width: breakpoints-width-get($name: md) * 0.66;
  min-width: breakpoints-width-get($name: sm);
}
