////
/// Decorators.
/// @group storybook
/// @copyright IBM Security 2020 - 2021
////

@import '@carbon/layout/scss/breakpoint';

@function breakpoints-width-get($name) {
  @return map-get(
    $map: map-get($map: $carbon--grid-breakpoints, $key: $name),
    $key: width
  );
}

.decorator {
  width: 33vw;

  max-width: breakpoints-width-get($name: md) * 0.66;
  min-width: breakpoints-width-get($name: sm);
}
