////
/// Modular layouts styles.
/// @group modular-layouts
/// @copyright IBM Security 2020
////

@import '@carbon/colors/scss/colors';
@import '@carbon/layout/scss/spacing';
@import '@carbon/themes/scss/theme-maps';

@import '../../globals/namespace/index';

/// Generate a map of spacing tokens from the provided Carbon theme map.
/// @access private
/// @param {Map} $theme-map - Map of theme variables.
/// @returns {Map} - The filtered map of only spacing variables.
@function security--get-spacing-tokens-map($theme-map) {
  $-map: ();

  @each $token, $value in $theme-map {
    @if type-of($value) == 'number' {
      $-map: map-merge(
        $-map,
        (
          $token: $value,
        )
      );
    }
  }

  // Include a zero value:
  $-map: map-merge(
    $-map,
    (
      'layout-00': 0,
    )
  );

  @return $-map;
}

/// Map of spacing tokens.
/// @type Map<String, Number>
/// @access private
$security--spacing-tokens-map: security--get-spacing-tokens-map(
  $carbon--theme--g100
);

@include export-namespace($name: 'layouts') {
  @each $token, $value in $security--spacing-tokens-map {
    .#{$namespace}padding-top--#{$token} {
      padding-top: $value;
    }

    .#{$namespace}padding-bottom--#{$token} {
      padding-bottom: $value;
    }

    .#{$namespace}margin-top--#{$token} {
      margin-top: $value;
    }

    .#{$namespace}margin-bottom--#{$token} {
      margin-bottom: $value;
    }
  }
}
