////
/// Modular layouts styles.
/// @group modular-layouts
/// @copyright IBM Security 2020
////

@import '@carbon/colors/scss/colors';
@import '@carbon/layout/scss/spacing';
@import '@carbon/themes/scss/theme-maps';

@import '../../globals/namespace/index';

/// Generate a map of spacing tokens from the provided Carbon theme map.
/// @access private
/// @param {Map} $theme-map - Map of theme variables.
/// @returns {Map} - The filtered map of only spacing variables.
@function security--get-spacing-tokens-map($theme-map) {
  $-map: ();

  @each $token, $value in $theme-map {
    @if type-of($value) == 'number' {
      $-map: map-merge(
        $-map,
        (
          $token: $value,
        )
      );
    }
  }

  // Include a zero value:
  $-map: map-merge(
    $-map,
    (
      'layout-00': 0,
    )
  );

  @return $-map;
}

/// Map of spacing tokens.
/// @type Map<String, Number>
/// @access private
$security--spacing-tokens-map: security--get-spacing-tokens-map(
  $carbon--theme--g100
);

// Generate styles for debugging messages.
@mixin security--debug {
  @include carbon--type-style($name: caption-01);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $carbon--spacing-02;
  left: 0;
  color: $carbon--black-100;
  background-color: $carbon--magenta-40;
}

// Generate vertical spacing classes.
@mixin security--generate-spacing-classes {
  @each $token, $value in $security--spacing-tokens-map {
    .#{$namespace}padding-top--#{$token} {
      padding-top: $value;
      position: relative;
    }

    .#{$namespace}debug--padding .#{$namespace}padding-top--#{$token}::before {
      @include security--debug;
      content: '#{$namespace}padding-top--#{$token}';
      height: $value;
      top: 0;
    }

    .#{$namespace}padding-bottom--#{$token} {
      padding-bottom: $value;
      position: relative;
    }

    .#{$namespace}debug--padding
      .#{$namespace}padding-bottom--#{$token}::after {
      @include security--debug;
      content: '#{$namespace}padding-bottom--#{$token}';
      height: $value;
      bottom: 0;
    }

    .#{$namespace}margin-top--#{$token} {
      margin-top: $value;
    }

    .#{$namespace}margin-bottom--#{$token} {
      margin-bottom: $value;
    }
  }
}

@include export-namespace($name: 'debug') {
  .#{$namespace}debug--padding {
    div[class^='bx--col'] {
      outline: 1px solid $carbon--orange-40;
    }
  }

  @include security--generate-spacing-classes;
}
