////
/// List item module.
/// @group list-item-module
/// @copyright IBM Security 2021
////

@import '@carbon/layout/scss/spacing';
@import '@carbon/themes/scss/tokens';
@import '@carbon/type/scss/styles';

@import '../../../globals/border/index';

@import '../../Component/mixins';
@import '../variables';

@include security--component($name: #{$layout-modules__name}--list-item) {
  /// Spacing.
  /// @type Length
  $list-item-module__spacing: $carbon--spacing-02;

  display: flex;
  padding: $carbon--spacing-05;
  background-color: $ui-01;
  border-bottom: $border__sizing__width solid $ui-03;

  &:last-of-type {
    border-width: 0;
  }

  &__column:last-of-type {
    flex-grow: 1;
  }

  &__title,
  &__description,
  &__label,
  &__component {
    display: block;
  }

  &__title,
  &__description {
    margin-top: 0;
  }

  &__icon {
    margin-right: $carbon--spacing-05;
  }

  &__avatar {
    margin-top: $list-item-module__spacing;
    margin-right: $carbon--spacing-04;

    &:first-child {
      margin-top: 0;
    }
  }

  &__title {
    @include carbon--type-style($name: body-short-01);
  }

  &__description,
  &__label {
    color: $text-02;
  }

  &__description {
    @include carbon--type-style($name: body-long-01);
  }

  &__label {
    @include carbon--type-style($name: label-01);

    margin-top: $list-item-module__spacing;
  }

  &__title,
  &__description,
  &__label {
    margin-bottom: $list-item-module__spacing;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__component {
    margin-top: $carbon--spacing-05;
    margin-bottom: 0;
  }
}
