////
/// Shell.
/// @group shell
/// @copyright IBM Security 2020
////

@import '../SecurityHeader/mixins';
@import '../Shell/mixins';
@import '../Toolbar/mixins';

@include security--component($name: shell__unstable) {
  /// Banner height.
  /// @type Length
  $shell__toolbar__spacing: $toolbar__sizing__width;

  /// Header selector.
  /// @type String
  $header__selector: '#{&}__#{$header__name}';

  /// Toolbar selector.
  /// @type String
  $toolbar__selector: '#{&}__#{$toolbar__name}';

  &__banner ~ {
    #{$toolbar__selector},
    #{$toolbar__selector} #{$toolbar__namespace}__panel,
    #{$header__selector} > #{$header__namespace} {
      margin-top: $shell__banner__sizing__height;
    }
  }

  #{$toolbar__selector} + #{$header__selector} {
    width: calc(#{$header__sizing__width} - #{$shell__toolbar__spacing});
    margin-left: $shell__toolbar__spacing;
  }

  &__group {
    position: relative;

    > * {
      min-height: inherit;
    }
  }

  &__popover {
    top: $header__sizing__height;
  }
}
