////
/// String formatter.
/// @group string-formatter
/// @copyright IBM Security 2019 - 2021
////

@import '@carbon/layout/scss/mini-unit';
@import 'carbon-components/scss/globals/scss/vars';

@import '../TooltipDefinition';

@import '../Component/mixins';

@include security--component($name: string-formatter) {
  display: inline-block;
  text-align: left;

  &--truncate {
    max-width: 80ch;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  &__tooltip > .#{$prefix}--tooltip__trigger {
    color: currentColor;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    border-width: 0;
  }
}
