////
/// String formatter.
/// @group string-formatter
/// @copyright IBM Security 2019
////

@import '../TooltipDefinition/index';

@import '../Component/mixins';

@include security--component($name: string-formatter) {
  display: inline-block;

  &--truncate {
    max-width: 80ch;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}
