////
/// Profile image mixins.
/// @group profile-image
/// @copyright IBM Security 2019
////

@import '../../globals/index';

@mixin profile-image {
  @include carbon--type-style($name: body-short-01);
  display: inline-flex;
  width: carbon--mini-units($count: 3.5);
  height: carbon--mini-units($count: 3.5);
  color: $text-03;
  align-items: center;
  background-color: $ui-05;
  border-radius: 50%;
  justify-content: center;
  object-fit: cover;
  text-transform: uppercase;

  &--large {
    @include carbon--type-style($name: productive-heading-03);
    width: carbon--mini-units($count: 7);
    height: carbon--mini-units($count: 7);
  }
}
