////
/// Button cluster.
/// @group button-cluster
/// @copyright IBM Security 2020
////

@import '@carbon/layout/scss/spacing';
@import '@carbon/themes/scss/tokens';
@import 'carbon-components/scss/globals/scss/vars';

@import '../../../globals/border/index';
@import '../../Component/mixins';
@import '../variables';

@include security--component($name: #{$layout-modules__name}--button-cluster) {
  padding-bottom: $carbon--layout-01;

  &__button {
    // Popover border width.
    $layout--button-cluster__button__border: $border__sizing__width solid $ui-03;

    display: flex;
    border-bottom: $layout--button-cluster__button__border;
    flex-flow: column;

    &:first-of-type {
      border-top: $layout--button-cluster__button__border;
    }

    > .#{$prefix}--btn {
      max-width: unset;
    }
  }
}
