////
/// Header popover secondary link mixins.
/// @group header__popover__link--secondary
/// @copyright IBM Security 2019
////

@import '@carbon/themes/scss/mixins';

@mixin header__popover__link--secondary {
  &,
  &:focus,
  &:hover,
  &:visited {
    color: $interactive-01;
  }
}
