////
/// Title.
/// @group title
/// @copyright IBM Security 2020
////

@import '@carbon/layout/scss/spacing';
@import '@carbon/type/scss/styles';

@import '../../Component/mixins';

@import 'variables';

@include security--component($name: $layout__modules--title__name) {
  /// Spacing.
  /// @type Length
  $layout--title__spacing: $carbon--layout-01;

  @include carbon--type-style($name: productive-heading-03);

  margin-top: $layout--title__spacing;
  margin-bottom: $layout--title__spacing;

  &--subsection {
    @include carbon--type-style($name: productive-heading-01);
  }

  & + &--subsection {
    margin-top: $carbon--layout-03;
  }
}
