////
/// Search bar mixins.
/// @group search-bar
/// @copyright IBM Security 2019
////

@import '../../globals/index';

@mixin search-bar {
  display: flex;
  color: currentColor;

  &__input,
  &__scopes {
    margin-right: 1px;

    @include rtl {
      margin-right: unset;
      margin-left: 1px;
    }
  }

  &__input {
    flex: 1 1 auto;
    width: auto;
  }

  &__scopes.#{$prefix}--list-box {
    flex: 0 0 carbon--mini-units(28);
    border: 0;

    &,
    .#{$prefix}--list-box__field {
      height: 100%;
      max-height: unset;
    }
  }

  .#{$prefix}--search-close:hover {
    background-color: unset;
    border: 0;
  }
}
