////
/// Small tearsheet mixins.
/// @group tearsheet--small
/// @copyright IBM Security 2019
////

@import '../../../globals/index';

@import '../../TagWallFilter/Filter/mixins';

@import '../mixins';

@mixin tearsheet--small {
  /// Width.
  /// @type Length
  $tearsheet--small__sizing__width: carbon--mini-units(
    $count: 64,
  );

  /// Padding.
  /// @type Length
  $tearsheet--small__spacing__padding: $carbon--spacing-05;

  @include tearsheet--base;

  width: $tearsheet--small__sizing__width;
  flex-direction: column;

  &__loading > .#{$prefix}--loading {
    /// Loading dimensions.
    /// @type Length
    $tearsheet--small__loading__sizing__dimensions: $carbon--layout-05;

    width: $tearsheet--small__loading__sizing__dimensions;
    height: $tearsheet--small__loading__sizing__dimensions;
  }

  &__header {
    padding: $tearsheet--small__spacing__padding;
  }

  &__title {
    @include carbon--type-style($name: productive-heading-05);

    margin-top: 0;
    margin-bottom: $tearsheet--small__spacing__padding;
  }

  &__body {
    display: flex;
    min-height: 0;
    margin-bottom: $carbon--layout-06;
    flex-grow: 1;
  }

  &__description {
    @include carbon--type-style($name: body-short-01);
  }

  &__content {
    flex-grow: inherit;

    #{$filter__namespace}__search-field {
      background-color: $carbon--gray-70;
    }
  }

  &__footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: $tearsheet--small__sizing__width;

    &__button {
      @include tearsheet__button;
      max-width: 50%;
      margin-left: auto;
      flex: 1;

      &--secondary {
        margin-left: 0;
      }
    }
  }
}
