////
/// Header mixins.
/// @group header
/// @copyright IBM Security 2019
////

@import '../../globals/index';

@import '../../platform/body/mixins';

/// Name.
/// @type String
$header__name: header;

/// Namespace.
/// @type String
$header__namespace: get-component-namespace(
  $component-name: $header__name,
);

/// Background color.
/// @type Color
$header__color__background: $body__color__background;

/// Layer.
/// @type Number
$header__layer: z(
  $layer: overlay,
);

/// Width.
/// @type Length
$header__sizing__width: 100%;

/// Padding.
/// @type Length
$header__spacing__padding: $carbon--spacing-03;

/// Transition duration.
/// @type Length
$header__transition__duration: $transition-duration--fast;

/// Transition timing function.
/// @type Length
$header__transition__timing-function: $timing-function;

@mixin header__popover__button--icon {
  @include carbon--theme($theme: $carbon--theme--g10) {
    @include button--icon;
    margin-left: auto;
    color: $text-01;

    transition: $header__transition__duration background-color
      $header__transition__timing-function;

    &:focus,
    &:hover {
      background-color: $ui-03;
    }
  }
}

@mixin header__popover__item--focus {
  @include carbon--theme($theme: $carbon--theme--g10) {
    @include focus-outline($type: outline);
  }
}

@mixin header {
  /// Height.
  /// @type Length
  $header__sizing__height: carbon--mini-units(
    $count: 5,
  );

  /// Group margin.
  /// @type Length
  $header__group__spacing__margin: $carbon--spacing-07;

  // Popover border width.
  /// @type Length
  $header__popover__sizing__border: carbon--mini-units(
    $count: 0.125,
  );

  /// Popover spacing.
  /// @type Length
  $header__popover__spacing__padding: $carbon--spacing-06;

  /// Profile margin.
  /// @type Length
  $header__profile__spacing__margin: $carbon--spacing-05;

  $root: &;

  display: flex;
  position: fixed;
  top: 0;
  width: inherit;
  padding-top: inherit;
  align-items: center;
  height: inherit;
  background-color: inherit;
  color: inherit;
  z-index: $header__layer;

  &__container {
    width: $header__sizing__width;
    height: $header__sizing__height;
    padding-top: $header__spacing__padding;
    background-color: $header__color__background;
  }

  &__link {
    @include carbon--type-style($name: body-short-01);

    margin-left: $header__group__spacing__margin;

    &,
    &:visited {
      color: inherit;
    }

    &:hover,
    &:focus {
      color: $text-02;
    }

    &__title {
      @include carbon--type-style($name: heading-01);
    }
  }

  &__group {
    display: flex;
    height: inherit;
    padding-left: unset;
    margin-top: unset;
    margin-bottom: unset;
    margin-left: auto;
    list-style: none;

    &--active {
      margin-right: $header__group__spacing__margin;
    }
  }

  &__button {
    &::after {
      content: '';
      height: 100%;
    }

    &--active::after {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: carbon--mini-units($count: 0.5);
      background-color: $interactive-01;
      transition: $transition-duration height
        $button--icon__transition__timing-function;
    }

    &--notifications::before {
      /// Marker dimensions.
      /// @type Length
      $header__button__marker__sizing__dimensions: carbon--mini-units(
        $count: 1,
      );

      display: inline-block;
      position: absolute;
      top: carbon--mini-units($count: 1.5);
      right: carbon--mini-units($count: 1);
      width: $header__button__marker__sizing__dimensions;
      height: $header__button__marker__sizing__dimensions;
      background-color: $support-01;
      border-radius: 50%;
      content: '';
      z-index: z($layer: floating);
    }
  }

  &__popover {
    @include carbon--theme($theme: $carbon--theme--g10) {
      // Popover border color.
      /// @type Color
      $header__popover__color__border: $ui-02;

      /// Profile active background color.
      /// @type Color
      $header__popover__color__background--active: $ui-02;

      @include carbon--type-style($name: body-short-01);
      position: absolute;
      right: 0;
      width: 100%;
      max-width: 100%;
      color: $text-01;
      background-color: $ui-01;

      @include carbon--breakpoint($name: lg) {
        right: carbon--mini-units($count: 1);
        width: carbon--mini-units($count: 34);
      }

      &--focus:focus {
        outline: none;
      }

      &__container {
        display: flex;
        padding: $header__popover__spacing__padding;
        align-items: center;
        flex-wrap: wrap;
      }

      &__title {
        @include carbon--type-style($name: productive-heading-03);
      }

      &__content {
        display: flex;
        padding-right: $carbon--spacing-02;
        padding-left: $header__popover__spacing__padding;
        align-items: center;
      }

      &__button {
        @include header__popover__button--icon;
      }

      &__label {
        @include carbon--type-style($name: heading-01);
      }

      &__list {
        max-height: carbon--mini-units($count: 70);
        padding-left: unset;
        list-style: none;
      }

      &__list-item {
        /// Notification padding.
        /// @type Length
        $header__notification__spacing__padding: $carbon--spacing-06;

        display: block;
        position: relative;
        padding-right: $header__notification__spacing__padding;
        padding-left: $carbon--spacing-05;
        color: unset;
        text-decoration: initial;
        overflow: hidden;
        transition: $header__transition__duration background-color
          $header__transition__timing-function;

        #{$root}__notification {
          box-shadow: inset 0 -#{$header__popover__sizing__border} 0 0
            $header__popover__color__border;

          &__wrapper {
            margin-right: -$header__notification__spacing__padding;
          }

          &__button {
            display: flex;
            width: $carbon--layout-04;
            height: 100%;
            flex-direction: column;
            justify-content: center;
          }
        }

        &:focus,
        &:hover {
          background-color: $header__popover__color__background--active;

          #{$root}__notification__button {
            transform: translate3d(0, 0, 0);
            opacity: 1;
          }
        }

        &:focus {
          @include focus-outline($type: outline);
        }

        &:last-of-type #{$root}__notification {
          box-shadow: none;
        }
      }

      &__icon {
        fill: currentColor;
      }

      &__profile {
        // Popover secondary text.
        /// @type Color
        $header__popover__color__text--secondary: $text-03;

        &--large {
          margin-right: $header__profile__spacing__margin;
        }

        &__header {
          &__icon {
            margin-right: $header__profile__spacing__margin;
            margin-bottom: auto;
            color: inherit;
            background-color: $carbon--gray-20;
            flex: none;
          }

          &__title,
          &__email {
            display: block;
            word-break: break-all;
            word-wrap: anywhere;
          }

          &__title {
            @include carbon--type-style($name: productive-heading-03);
          }

          &__email {
            @include carbon--type-style($name: caption-01);
            color: $header__popover__color__text--secondary;
          }
        }

        &__body {
          &--account {
            padding-right: $header__popover__spacing__padding;
            padding-bottom: $header__profile__spacing__margin;
            padding-left: $header__popover__spacing__padding;
          }

          &__label {
            @include carbon--type-style($name: caption-01);
            color: $header__popover__color__text--secondary;
          }

          &__name {
            @include carbon--type-style($name: body-short-02);
            text-align: left;
            width: carbon--mini-units($count: 26);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          &__accordion {
            /// Accordion selector.
            /// @type String
            $carbon--accordion: '.#{$prefix}--accordion';

            > #{$carbon--accordion}__item--active #{$carbon--accordion}__arrow {
              transform: rotate3d(0, 0, 1, 270deg);
            }

            &__item {
              &:last-child {
                border-width: 0;
              }

              #{$carbon--accordion} {
                &__arrow,
                &__heading {
                  color: inherit;
                }

                &__arrow {
                  margin-right: $header__profile__spacing__margin;
                  margin-left: unset;
                  fill: currentColor;
                  transform: rotate3d(0, 0, 1, 90deg);
                }

                &__heading {
                  flex-direction: row-reverse;

                  &:focus,
                  &:hover {
                    &::before {
                      background-color: $header__popover__color__background--active;
                    }
                  }

                  &:focus::before {
                    @include header__popover__item--focus;
                  }
                }

                &__title {
                  margin-left: $header__popover__spacing__padding;
                }

                &__content {
                  padding: unset;
                  margin-left: unset;
                }
              }
            }
          }

          &__list {
            padding-left: unset;
            list-style: none;
          }

          &__account {
            position: relative;

            &__button {
              @include button-reset;
              @include carbon--type-style($name: body-short-01);

              padding: $header__profile__spacing__margin
                $header__popover__spacing__padding;
              text-align: left;

              &:focus,
              &:hover {
                background-color: $header__popover__color__background--active;
              }

              &:focus {
                @include header__popover__item--focus;
              }

              &::before {
                display: inline-block;
                position: absolute;
                right: $header__popover__spacing__padding;
                bottom: 0;
                left: $header__popover__spacing__padding;
                background-color: $header__popover__color__border;
                height: $header__popover__sizing__border;
                content: '';
              }
            }

            &:last-of-type &__button::before {
              height: 0;
            }
          }
        }

        &__footer__logout {
          margin-left: auto;
        }
      }

      &__footer {
        @include carbon--type-style($name: body-short-01);
        display: flex;
        padding: $carbon--spacing-04 $header__popover__spacing__padding;
        align-items: center;
        border-top: $header__popover__sizing__border solid
          $header__popover__color__border;
        justify-content: space-between;
      }
    }
  }

  &__transition {
    @include transition--opacity;

    &--enter,
    &--leave {
      &--active {
        transition-delay: 0.025s;
        transition-duration: $header__transition__duration;
        transition-property: opacity, transform;
      }
    }
    &--enter {
      transform: translate3d(0, -#{$header__sizing__height}, 0);

      &--active {
        transform: translate3d(0, 0, 0);
      }
    }
  }

  .selectable-text {
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }
}
