////
/// Header notification mixins.
/// @group header__notification
/// @copyright IBM Security 2019
////

@import '../../../globals/index';

@import '../mixins';

@mixin header__notification {
  /// Padding.
  /// @type Length
  $header__notification__spacing__padding: $carbon--spacing-05;

  /// Transiton duration.
  /// @type Length
  $header__notification__transition-duration: $transition-duration--fast;

  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;

  // Inverse styling for string formatter's tooltip defintion:
  .#{$namespace}string-formatter__tooltip.#{$prefix}--tooltip--definition
    .#{$prefix}--tooltip__trigger {
    color: currentColor;
    text-align: left;
    line-height: initial;

    &:focus {
      outline: 2px solid $interactive-01;
      outline-offset: 2px;
    }

    // Tooltip top variation arrow:
    &.#{$prefix}--tooltip__trigger--definition.#{$prefix}--tooltip--top.#{$prefix}--tooltip--align-start::before {
      border-color: $inverse-01 transparent transparent transparent;
    }

    // Tooltip bottom variation arrow:
    &.#{$prefix}--tooltip__trigger--definition.#{$prefix}--tooltip--bottom.#{$prefix}--tooltip--align-start::before {
      border-color: transparent transparent $inverse-01 transparent;
    }

    // Tooltip content:
    & + .#{$prefix}--assistive-text,
    &:focus
      + .#{$prefix}--assistive-text
      &:hover
      + .#{$prefix}--assistive-text {
      background-color: $inverse-01;
      color: $inverse-02;
    }
  }

  &__content {
    padding-top: $header__notification__spacing__padding;
    padding-bottom: $header__notification__spacing__padding;
    padding-left: $carbon--spacing-03;
    flex-grow: 1;
    text-decoration: none;
    color: inherit;
    &:focus {
      @include header__popover__item--focus;
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  &__details {
    @include carbon--type-style($name: caption-01);
    display: block;
    margin-bottom: $carbon--spacing-03;

    @include carbon--theme($theme: $carbon--theme--g10) {
      color: $text-02;
    }
  }

  &__time {
    @include carbon--font-weight($weight: semibold);
  }

  &__button {
    @include header__popover__button--icon;

    cursor: inherit;
    flex-shrink: 0;
    opacity: 0;
    transform: translate3d(carbon--mini-units($count: 1), 0, 0);
    transition-duration: $header__notification__transition-duration;
    transition-property: opacity, transform;
    transition-timing-function: $header__transition__timing-function;

    &:focus {
      @include header__popover__item--focus;
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  &__transition {
    @include transition--opacity;

    &--leave {
      max-height: $carbon--layout-06;
      transition-duration: $header__notification__transition-duration;
      transition-property: max-height, opacity;

      &--active {
        max-height: 0;
      }
    }
  }
}
