////
/// Header notification mixins.
/// @group header__notification
/// @copyright IBM Security 2019
////

@import 'carbon-components/scss/globals/scss/vars';

@import '../../../globals/index';

@import '../mixins';

@mixin header__notification {
  /// Padding.
  /// @type Length
  $header__notification__spacing__padding: $carbon--spacing-05;

  /// Transiton duration.
  /// @type Length
  $header__notification__transition-duration: $transition-duration--fast;

  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;

  &__content {
    padding-top: $header__notification__spacing__padding;
    padding-bottom: $header__notification__spacing__padding;
    padding-left: $carbon--spacing-03;
    flex-grow: 1;
    text-decoration: none;
    color: inherit;

    &:focus {
      @include header__popover__item--focus;
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }

    // TODO: `cool-gray` - To be removed with theming.

    /// Tooltip selector.
    /// @type String
    $carbon--tooltip: '.#{$prefix}--tooltip';

    > #{$carbon--tooltip}--definition > #{$carbon--tooltip}__trigger {
      color: currentColor;

      &:focus {
        outline-color: $inverse-focus-ui;
      }

      &#{$carbon--tooltip}--bottom,
      &#{$carbon--tooltip}--top {
        + .#{$prefix}--assistive-text {
          background-color: $inverse-01;
          color: $inverse-02;
        }
      }

      &#{$carbon--tooltip}--bottom::before {
        border-bottom-color: $inverse-01;
      }

      &#{$carbon--tooltip}--top::before {
        border-top-color: $inverse-01;
      }
    }
  }

  &__details {
    @include carbon--type-style($name: caption-01);
    display: block;
    margin-bottom: $carbon--spacing-03;

    @include carbon--theme($theme: $carbon--theme--g10) {
      color: $text-02;
    }
  }

  &__time {
    @include carbon--font-weight($weight: semibold);
  }

  &__button {
    @include header__popover__button--icon;

    cursor: inherit;
    flex-shrink: 0;
    opacity: 0;
    transform: translate3d(carbon--mini-units($count: 1), 0, 0);
    transition-duration: $header__notification__transition-duration;
    transition-property: opacity, transform;
    transition-timing-function: $header__transition__timing-function;

    &:focus {
      @include header__popover__item--focus;
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  &__transition {
    @include transition--opacity;

    &--leave {
      max-height: $carbon--layout-06;
      transition-duration: $header__notification__transition-duration;
      transition-property: max-height, opacity;

      &--active {
        max-height: 0;
      }
    }
  }
}
