////
/// Action bar.
/// @group action-bar
/// @copyright IBM Security 2020
////

@import '@carbon/layout/scss/spacing';
@import '@carbon/type/scss/styles';

@import '../../Component/mixins';
@import '../variables';

@include security--component($name: #{$layout-modules__name}--action-bar) {
  @include carbon--type-style($name: body-short-01);

  display: flex;
  padding-top: $carbon--spacing-01;
  padding-bottom: $carbon--spacing-03;
  align-items: center;

  &__items {
    margin-left: auto;
  }
}
