////
/// Decorator mixins.
/// @group decorator
/// @copyright IBM Security 2019
////

@import '@carbon/layout/scss/mini-unit';
@import '@carbon/layout/scss/spacing';
@import '@carbon/themes/scss/tokens';
@import '@carbon/type/scss/font-family';
@import '@carbon/type/scss/styles';

@import 'carbon-components/scss/globals/scss/helper-mixins';

@import '../../globals/motion/index';

@mixin security--decorator__padding($decorator__spacing__padding) {
  &__icon {
    padding-left: $decorator__spacing__padding;
  }

  &__type,
  &__value {
    padding-right: $decorator__spacing__padding;
    padding-left: $decorator__spacing__padding;
  }
}

@mixin decorator {
  $root: &;

  @include carbon--type-style($name: body-short-01);
  @include security--decorator__padding(
    $decorator__spacing__padding: $carbon--spacing-03
  );

  display: inline-flex;
  box-sizing: border-box;
  font-family: carbon--font-family($name: sans);
  height: carbon--mini-units(3.25);
  background-color: $hover-ui;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  text-transform: none;
  max-width: 100%;
  padding: unset;
  border: unset;

  &:focus {
    @include focus-outline('outline');
  }

  &:hover {
    background-color: $active-ui;
  }

  &--active,
  &--active:hover,
  &:focus:active {
    background-color: $ui-05;

    > #{$root} {
      &__type,
      &__value {
        color: $active-ui;
      }

      &__type {
        border-right: 1px solid $ui-04;
      }
    }
  }

  &--inert {
    &:hover {
      cursor: default;
    }

    &__value {
      color: $text-02;
    }
  }

  &__icon,
  &__type,
  &__value {
    display: inherit;
    height: inherit;
    align-items: center;
    transition-duration: 0.2s;
    transition-property: background-color;
    transition-timing-function: $timing-function;
  }

  &--inline {
    /// Inline height.
    /// @type Length
    $data-decorator--inline__sizing__height: carbon--mini-units(
      $count: 2.5,
    );

    @include carbon--type-style($name: caption-01);

    height: $data-decorator--inline__sizing__height;
    vertical-align: middle;

    > #{$root} {
      @include security--decorator__padding(
        $decorator__spacing__padding: $carbon--spacing-02
      );

      &__type,
      &__value {
        line-height: $data-decorator--inline__sizing__height;
      }
    }
  }

  &--link {
    &:active,
    &:focus,
    &:hover,
    &:focus:active {
      text-decoration: none;
      box-shadow: none;

      #{$root}__value {
        text-decoration: underline;
      }
    }
  }

  &--unknown {
    #{$root}__icon {
      fill: $icon-02;
    }
  }

  &--low {
    #{$root}__icon {
      fill: $support-03;
    }
  }

  &--medium {
    #{$root}__icon {
      fill: $carbon--orange-40;
    }
  }

  &--high {
    #{$root}__icon {
      fill: $support-01;
    }

    &--active,
    &:focus:active {
      #{$root}__icon {
        fill: $hover-danger;
      }
    }
  }

  &__type {
    color: $text-02;
    border-right: 1px solid $ui-01;
    white-space: nowrap;
  }

  &__value {
    color: $support-04;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline;
    line-height: 1.625rem;

    &:visited {
      color: $visited-link;
    }
  }
}
