////
/// Overview styles.
/// @group overview
/// @copyright IBM Security 2020
////

@import '@carbon/layout/scss/convert';
@import '@carbon/layout/scss/spacing';
@import '@carbon/themes/scss/tokens';

@import 'carbon-components/scss/globals/scss/vars';

@import '../../Component/mixins';

@include security--component($name: layout) {
  &--action-bar {
    display: flex;
    padding-top: $carbon--spacing-01;
    padding-bottom: $carbon--spacing-03;
    align-items: center;

    &__actions {
      margin-left: auto;
    }
  }

  &--button-cluster {
    padding-bottom: $carbon--layout-01;

    &__button {
      $layout--button-cluster__button__border: carbon--rem(
          $px: 1px,
        )
        solid $ui-03;

      display: flex;
      border-bottom: $layout--button-cluster__button__border;
      flex-flow: column;

      &:first-of-type {
        border-top: $layout--button-cluster__button__border;
      }

      > .#{$prefix}--btn {
        max-width: unset;
      }
    }
  }

  &--ica {
    padding-top: $carbon--layout-01;
    padding-bottom: $carbon--layout-03;
  }

  &--title-bar {
    display: flex;

    &__actions {
      padding-top: $carbon--spacing-03;
      padding-bottom: $carbon--spacing-03;
      margin-left: auto;
    }
  }

  &--type-layout {
    /* padding-top: $carbon--layout-01;
    padding-bottom: $carbon--layout-03; */
  }

  &__title {
    margin-top: $carbon--layout-01;
    margin-bottom: $carbon--layout-01;
  }
}
