////
/// Important Content Area (ICA) skeleton mixins.
/// @group ICA
/// @copyright IBM Security 2019
////

@import '../../../globals/index';

@mixin ica-skeleton {
  width: carbon--mini-units(8);

  & &__label,
  & &__value {
    @include skeleton;
  }

  & &__label {
    height: carbon--mini-units(1.5);
    margin-top: 0;
    margin-bottom: carbon--mini-units(1);
  }

  & &__value {
    height: carbon--mini-units(4);
    margin: 0;
  }
}
