////
/// Colors - TODO: `2.x` - To be removed.
/// @group colors
/// @copyright IBM Security 2019 - 2021
////

@import '@carbon/colors/scss/colors';
@import '@carbon/themes/scss/tokens';

@import '../deprecate/index';
@import '../namespace/index';

/// @type Color
/// @deprecated
$security-color__gray-90--hover: $hover-ui;

@include export-namespace($name: color) {
  $deprecate: deprecate(
    $actual: '@carbon/ibm-security/scss/globals/color/index',
    $expected: '@carbon/colors/scss/colors',
    $url:
      'https://github.com/carbon-design-system/ibm-security/blob/master/docs/migration/2.x/color.md#imports',
  );
}
