////
/// Colors.
/// @group colors
/// @copyright IBM Security 2019 - 2021
////

@import '@carbon/colors/scss/colors'; // TODO: `2.x` - To be removed.

@import '@carbon/themes/scss/tokens';

@import '../deprecate/index';
@import '../namespace/index';

/// TODO: `2.x` - Deprecate in favor of `$hover-ui`.
/// @type Color
/// @deprecated
$security-color__gray-90--hover: $hover-ui;

@include export-namespace($name: color) {
  $deprecate: deprecate(
    $actual: '@carbon/ibm-security/scss/globals/color/index',
    $expected: '@carbon/colors',
    $url:
      'https://github.com/carbon-design-system/carbon/tree/main/packages/colors',
  );
}
