////
/// Feature flags.
/// @group feature-flags
/// @copyright IBM Security 2019
////

@import 'carbon-components/scss/globals/scss/feature-flags';
@import 'carbon-components/scss/globals/scss/functions';

/// Platform feature flag.
/// @type String
$platform__name: platform;

/// Default feature flag values.
/// @type Map<String, String>
$security--default-feature-flags: (
  #{$platform__name}: true,
  #{$type__name}: true
);

$security--feature-flags: () !default;

$security--feature-flags: merge-feature-flags(
  $dst: $security--default-feature-flags,
  $src: $security--feature-flags,
);

$feature-flags: merge-feature-flags(
  $dst: $feature-flags,
  $src: $security--feature-flags,
);
