////
/// Structured list component.
/// @group structured-list
/// @copyright IBM Security 2019
////

@import '../../globals/variables/index';
@import 'carbon-components/scss/components/structured-list/structured-list';
@import '../../globals/namespace/index';

@include export-namespace($name: 'structured-list') {
  // TODO - V2: waiting for Carbon to release fix via https://github.com/carbon-design-system/carbon/pull/3518
  .#{$prefix}--structured-list {
    min-width: unset;
  }
}
