////
/// List module.
/// @group list-module
/// @copyright IBM Security 2021
////

@import '@carbon/layout/scss/spacing';
@import '@carbon/themes/scss/tokens';
@import '@carbon/type/scss/styles';

@import '../../Component/mixins';
@import '../variables';

@include security--component($name: #{$layout-modules__name}--list) {
  /// Spacing.
  /// @type Length
  $list-module__spacing: $carbon--spacing-02;

  display: flex;
  padding: $carbon--spacing-05;
  background-color: $ui-01;

  &__column {
    margin-right: $carbon--spacing-05;

    &:last-of-type {
      margin-right: 0;
      flex-grow: 1;
    }
  }

  &__title,
  &__description,
  &__label,
  &__component {
    display: block;
  }

  &__title,
  &__description {
    margin-top: 0;
  }

  $root: &;

  &__title {
    @include carbon--type-style($name: body-short-01);

    + #{$root}__component {
      margin-top: $carbon--spacing-04;
    }
  }

  &__description {
    @include carbon--type-style($name: body-long-01);
  }

  &__label {
    @include carbon--type-style($name: label-01);

    margin-top: $list-module__spacing;
  }

  &__title,
  &__description,
  &__label {
    margin-bottom: $list-module__spacing;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__component {
    margin-top: $carbon--spacing-05;
    margin-bottom: 0;
  }

  &__avatar {
    margin-top: $list-module__spacing;
  }
}
