////
/// List module.
/// @group list-module
/// @copyright IBM Security 2021
////

@import '@carbon/layout/scss/spacing';
@import '@carbon/themes/scss/tokens';

@import '../../Component/mixins';
@import '../variables';

@include security--component($name: #{$layout-modules__name}--list) {
  display: flex;
  padding: $carbon--spacing-05;
  background-color: $ui-01;

  &__column {
    margin-right: $carbon--spacing-05;
    flex-shrink: 0;
  }
}
