////
/// Entry point.
/// @group storybook
/// @copyright IBM Security 2019 - 2020
////

@import '@carbon/layout/scss/spacing';

@import '../src/globals/index';

@import 'carbon-components/scss/globals/scss/vars';

@import '../src/components/index';
@import '../src/platform/index';

* {
  box-sizing: border-box;
}

.wizard__form {
  width: 50%;

  &__input {
    margin-bottom: $carbon--spacing-06;
  }

  .#{$prefix} {
    &--number,
    &--text-input__field-wrapper,
    &--text-area__wrapper {
      width: 100%;
    }
  }
}
