////
/// Entry point.
/// @group storybook
/// @copyright IBM Security 2019 - 2021
////

@import '@carbon/layout/scss/spacing';
@import '@carbon/themes/scss/theme-maps';

@import '../src/globals/index';

@import 'carbon-components/scss/globals/scss/vars';

@import '../src/components/index';
@import '../src/platform/index';

// TODO: Remove workaround for https://github.ibm.com/security/design-core-experience/issues/241
@import 'components/Background/index';

@import 'decorators/index';
@import 'docs/index';

@import 'vendor/@carbon/grid/css-grid'; // Workaround for https://github.com/yibn2008/fast-sass-loader/issues/67

* {
  box-sizing: border-box;
}

.page-layouts__banner {
  @include security--generate-css-custom-properties(
    $theme: $carbon--theme--g10
  );

  max-width: 100%;
  margin-top: 0;
}

.wizard__form {
  width: 50%;

  &__input {
    margin-bottom: $carbon--spacing-06;
  }

  .#{$prefix} {
    &--number,
    &--text-input__field-wrapper,
    &--text-area__wrapper {
      width: 100%;
    }
  }
}

// .page-layout-for-css-grid {
//   >.bx--css-grid {
//     max-width: 99rem;
//     margin-left: auto;
//     margin-right: auto;
//     padding-right: 2.5rem;
//     padding-left: 2.5rem;
//   }
// }
