////
/// Entry point.
/// @group storybook
/// @copyright IBM Security 2019 - 2021
////

@use '@carbon/layout';
@use '@carbon/themes/scss/theme-maps';

@use '../src/globals';

@use 'carbon-components/scss/globals/scss/vars';

@use '../src/globals/theme/mixins';

// @use '../src/components';

@use '../src/platform';

// TODO: Remove workaround for https://github.ibm.com/security/design-core-experience/issues/241
@use 'components/Background';

@use 'decorators';
@use 'docs';

* {
  box-sizing: border-box;
}

.page-layouts__banner {
  @include mixins.security--generate-css-custom-properties(
    $theme: theme-maps.$carbon--theme--g10
  );

  max-width: 100%;
  margin-top: 0;
}

.wizard__form {
  width: 50%;

  &__input {
    margin-bottom: layout.$spacing-06;
  }

  .#{vars.$prefix} {
    &--number,
    &--text-input__field-wrapper,
    &--text-area__wrapper {
      width: 100%;
    }
  }
}
