////
/// Entry point.
/// @group addons
/// @copyright IBM Security 2019
////

@import 'themes/index';
@import 'components/Container/index';

* {
  box-sizing: border-box;
}

.wizard__form {
  width: 50%;

  &__input {
    margin-bottom: $carbon--spacing-06;
  }

  .#{$prefix} {
    &--number,
    &--text-input__field-wrapper,
    &--text-area__wrapper {
      width: 100%;
    }
  }
}
