////
/// Entry point.
/// @group addons
/// @copyright IBM Security 2019
////

@import 'themes/index';
@import '../.storybook/components/Container/index';

.grid {
  display: flex;
  padding: $carbon--spacing-09;
  justify-content: center;
}

.wizard__form {
  width: 50%;

  &__input {
    margin-bottom: $carbon--spacing-06;
  }

  .#{$prefix} {
    &--number,
    &--text-input__field-wrapper,
    &--text-area__wrapper {
      width: 100%;
    }
  }
}
