## Themes

| Token | {{#each themes}}{{ this }} | {{/each}}
| ----- | {{#each themes}} --- | {{/each}}
{{#each tokens}}
| {{ this.token }} | {{#each this.themes}} <span style="color: {{ this.hex }}">\|\|\|\|\|</span> {{ this.color }} | {{/each}}
{{/each}}
