////
/// Skeleton text component.
/// @group Skeleton-text
/// @copyright IBM Security 2018
////

@import 'carbon-components/scss/components/skeleton/skeleton-text';

@import '../../globals/index';
@import 'mixins';

@include export-namespace($name: skeleton-text) {
  @include skeleton-text;
}
