////
/// Skeleton text mixins.
/// @group Skeleton-text
/// @copyright IBM Security 2019
////

@import '../../globals/index';

@mixin skeleton-text {
  .#{$prefix}--skeleton {
    &__text {
      height: carbon--mini-units($count: 1);
    }

    &__heading {
      height: carbon--mini-units($count: 2);
    }
  }
}
