////
/// Layout.
/// @group layout
/// @copyright IBM Security 2019 - 2021
////

@import '@carbon/layout/scss/layout';

@import 'carbon-components/scss/globals/scss/layout';
@import 'carbon-components/scss/globals/scss/spacing';

@import '../deprecate/index';

// TODO: `2.x` - To be removed.

///
/// Deprecation warning method for `get-fixed-size`.
/// @param {Length} $unitQuantity The deprecated unit quantity parameter.
/// @return {Length} The correct `mini-unit` size.
///
@function get-fixed-size($unitQuantity) {
  @warn deprecate($actual: 'get-fixed-size($unitQuantity: #{$unitQuantity})', $expected: 'carbon--mini-units($count: #{$unitQuantity})');

  @return carbon--mini-units($count: $unitQuantity);
}

/// https://github.com/carbon-design-system/carbon/blob/master/packages/components/src/globals/scss/_layout.scss#L14
/// @type Map<String, Length>
/// @access private
$security--z-indexes: (
  security--panel:
    z(
      $layer: modal,
    ),
  security--portal:
    z(
      $layer: overlay,
    ),
  security--scroll-gradient: 1,
  security--shell:
    z(
      $layer: header,
    ),
  security--tearsheet:
    z(
      $layer: modal,
    ),
);

$z-indexes: map-merge(
  $map1: $z-indexes,
  $map2: $security--z-indexes,
);
