////
/// Layout.
/// @group layout
/// @copyright IBM Security 2020
////

@import '@carbon/layout/scss/spacing';

@import '../../../Component/mixins';
@import '../variables';

@include security--component($name: #{$layout-modules__name}--layout) {
  margin-bottom: $carbon--layout-03;
}
