////
/// Icon button bar component.
/// @group icon-button-bar
/// @copyright IBM Security 2019
////

@mixin icon-button-bar {
  /// Variation dimensions.
  /// @type Map<String, Length>
  $icon-button-bar__sizes: (
    'sm': 4,
    'md': 5,
    'lg': 6,
    'xl': 8,
  );

  $root: &;

  display: flex;
  overflow: none;

  @each $icon-button-bar__size,
    $icon-button-bar__unit in $icon-button-bar__sizes
  {
    /// Variation dimensions.
    /// @type Length
    $icon-button-bar__sizing__dimensions: carbon--mini-units(
      $count: $icon-button-bar__unit,
    );

    &--#{$icon-button-bar__size} {
      min-width: $icon-button-bar__sizing__dimensions;

      #{$root}__overflow-menu {
        height: $icon-button-bar__sizing__dimensions;
        width: $icon-button-bar__sizing__dimensions;
      }
    }

    &__overflow-menu-options--#{$icon-button-bar__size}.bx--overflow-menu--flip {
      &.#{$prefix}--overflow-menu-options[data-floating-menu-direction='top']::after,
      &.#{$prefix}--overflow-menu-options[data-floating-menu-direction='bottom']::after {
        width: $icon-button-bar__sizing__dimensions;
      }
    }
  }
}
