////
/// Layout.
/// @group layout
/// @copyright IBM Security 2020
////

@import '../../globals/theme/variables';
@import '../Component/mixins';

@import 'variables';

@import 'LayoutModules/index';

/// Spacing tokens.
/// @type Map<String, Number>
$security--spacing-tokens-map: (
  layout-00: 0,
  spacing-00: 0,
);

@each $token, $value in $security--theme {
  @if type-of($value: $value) == 'number' {
    $security--spacing-tokens-map: map-merge(
      $map1: $security--spacing-tokens-map,
      $map2: (
        $token: $value,
      ),
    );
  }
}

@include security--component($name: $layout__name) {
  @each $token, $value in $security--spacing-tokens-map {
    &--#{$token} {
      &--pt {
        padding-top: $value;
      }

      &--pb {
        padding-bottom: $value;
      }

      &--mt {
        margin-top: $value;
      }

      &--mb {
        margin-bottom: $value;
      }
    }
  }
}
