////
/// Icon button variables.
/// @group button--icon
/// @copyright IBM Security 2019 - 2021
////

@use '../../globals/namespace';

/// Name.
/// @type String
$button--icon__name: button--icon;

/// Namespace.
/// @type String
$button--icon__namespace: namespace.get-component-namespace(
  $component-name: $button--icon__name,
);
