////
/// Filter category mixins.
/// @group filter-panel
/// @copyright IBM Security 2019
////

@import '../../../../globals/index';

@mixin filter-category {
  /// Padding.
  /// @type Length
  $filter-category__spacing__padding: $carbon--spacing-03;

  padding-top: $filter-category__spacing__padding;
  padding-bottom: $filter-category__spacing__padding;
  border-top: carbon--mini-units($count: 0.125) solid $ui-03;

  &__title {
    @include carbon--type-style($name: caption-01);
    @include carbon--font-weight($weight: semibold);

    display: flex;
    margin-bottom: $carbon--spacing-05;
    justify-content: space-between;
  }

  &__count {
    @include carbon--font-weight($weight: regular);
    color: $text-02;
  }
}
