////
/// Filter category mixins.
/// @group filter-panel
/// @copyright IBM Security 2019
////

@import '../../../../globals/index';
@import '../../FilterAccordion/mixins';

@mixin filter-category {
  @include filter-accordion;

  &__title {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__count {
    @include carbon--font-weight($weight: regular);
    color: $text-02;
  }
}
