////
/// Accordion component.
/// @group accordion
/// @copyright IBM Security 2018
////

@import 'carbon-components/scss/components/accordion/accordion';

@import '../../globals/namespace/index';

@include export-namespace($name: 'accordion') {
  .#{$prefix}--accordion {
    &.#{$namespace}accordion--start {
      .#{$prefix}--accordion__heading {
        flex-direction: row;
      }

      .#{$prefix}--accordion__arrow {
        margin: 0 0 0 $carbon--spacing-03;
        transform: rotate(0deg);
      }

      .#{$prefix}--accordion__item--active .#{$prefix}--accordion__arrow {
        transform: rotate(90deg);
      }

      .#{$prefix}--accordion__content {
        margin-left: $carbon--spacing-06;
      }
    }

    &__heading {
      align-items: center;
    }

    &__item--active &__title {
      font-weight: 600;
    }

    // Prevents gaps between closed accordion items.
    &__content > * {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
