////
/// Accordion component.
/// @group accordion
/// @copyright IBM Security 2019
////

@import 'carbon-components/scss/components/accordion/accordion';

@include export-namespace($name: 'accordion') {
  .#{$prefix}--accordion {
    &__item--active {
      .#{$prefix}--accordion__title {
        font-weight: 600;
      }
    }

    // Prevents gaps between closed accordion items.
    &__content > * {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
