////
/// Accordion component.
/// @group accordion
/// @copyright IBM Security 2018
////

@import 'carbon-components/scss/components/accordion/accordion';

@import '../../globals/namespace/index';

@include export-namespace($name: 'accordion') {
  .#{$prefix}--accordion {
    &.#{$prefix}--accordion--start .#{$prefix}--accordion__heading {
      align-items: center;
    }

    // TODO - fix in Carbon.
    &.#{$prefix}--accordion--end
      .#{$prefix}--skeleton__text.#{$prefix}--accordion__title {
      margin-right: $carbon--spacing-03;
      margin-left: 0;
    }

    &__item--active &__title {
      font-weight: 600;
    }

    // Prevents gaps between closed accordion items.
    &__content > * {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
