////
/// Data table component.
/// @group data-table
/// @copyright IBM Security 2019
////

@import 'carbon-components/scss/components/data-table-v2/data-table-v2';

@import '../Search/index';

@include export-namespace($name: data-table) {
  .#{$prefix}--data-table-container {
    /// TODO - V2: waiting for Carbon reset fix: https://github.com/carbon-design-system/carbon-components/issues/2373
    .#{$prefix}--toolbar-search-container-expandable
      .#{$prefix}--search
      .#{$prefix}--search-magnifier {
      height: unset;
      width: unset;
    }

    /// TODO - V2: waiting for Carbon reset fix: https://github.com/carbon-design-system/carbon-components/issues/2373
    .#{$prefix}--data-table--sort th,
    .#{$prefix}--data-table--sort
      th:first-of-type:not(.#{$prefix}--table-column-checkbox) {
      height: unset;
    }

    /// Need to override because the overflow cell does not have a thead td.
    tbody tr:hover td.#{$namespace}data-table__overflow-cell:hover {
      border-top: 1px solid transparent;
    }

    td.#{$namespace}data-table__overflow-cell {
      width: 0;
      border-top: 1px solid transparent;

      .#{$prefix}--overflow-menu {
        z-index: z($layer: dropdown);
        margin-left: auto;
      }
    }

    /// Prevents appearance of "empty" thead space when an overflow cell is added.
    .#{$prefix}--data-table {
      background-color: $ui-02;
    }

    .#{$prefix}--batch-actions {
      padding: 0;
    }
  }

  .#{$prefix}--data-table.#{$prefix}--skeleton th {
    border-bottom: 0;
  }
}
