////
/// Data table component.
/// @group data-table
/// @copyright IBM Security 2019
////

@import '@carbon/themes/scss/tokens';

@import 'carbon-components/scss/components/data-table-v2/data-table-v2';

@import 'carbon-components/scss/globals/scss/layout';
@import 'carbon-components/scss/globals/scss/vars';

@import '../../globals/namespace/index';

@import '../Checkbox/index';
@import '../IconButton/index';
@import '../Search/index';

@include export-namespace($name: data-table) {
  .#{$prefix}--data-table-container {
    /// Need to override because the overflow cell does not have a thead td.
    tbody tr:hover td.#{$namespace}data-table__overflow-cell:hover {
      border-top: 1px solid transparent;
    }

    td.#{$namespace}data-table__overflow-cell {
      width: 0;
      border-top: 1px solid transparent;

      .#{$prefix}--overflow-menu {
        z-index: z($layer: overlay);
        margin-left: auto;
      }
    }

    /// Prevents appearance of "empty" thead space when an overflow cell is added.
    .#{$prefix}--data-table {
      background-color: $ui-02;
    }

    .#{$prefix}--batch-actions {
      padding: 0;
    }
  }

  .#{$prefix}--data-table.#{$prefix}--skeleton th {
    border-bottom: 0;
  }
}
