////
/// Data table component.
/// @group data-table
/// @copyright IBM Security 2019 - 2020
////

@import '@carbon/themes/scss/tokens';

@import 'carbon-components/scss/components/data-table-v2/data-table-v2';

@import 'carbon-components/scss/globals/scss/layout';
@import 'carbon-components/scss/globals/scss/vars';

@import '../../globals/namespace/index';

@import '../Checkbox/index';
@import '../IconButton/index';
@import '../ScrollGradient/index';
@import '../Search/index';

@import '../Component/mixins';

@include security--component($name: data-table) {
  &__overflow-cell .#{$prefix}--overflow-menu {
    z-index: $scroll-gradient__layer + 1;
  }

  .#{$prefix}--data-table {
    background-color: $ui-03;

    &-content {
      overflow: unset;
    }

    &.#{$prefix}--skeleton th {
      border-bottom-width: 0;
    }
  }
}
