////
/// Important Content Area (ICA) mixins.
/// @group ICA
/// @copyright IBM Security 2019
////

@import '../../globals/index';

@mixin ica {
  & &__label {
    @include carbon--type-style($name: label-01);
    display: block;
    color: $text-02;
    margin: 0;
  }

  & &__value {
    @include carbon--type-style($name: productive-heading-04);
    margin-bottom: 0;
  }

  & &__total {
    @include carbon--type-style($name: body-short-01);
    margin-bottom: 0;
  }

  & &__percentage {
    @include carbon--type-style($name: productive-heading-04);
  }

  & &__percentage-mark {
    @include carbon--type-style($name: productive-heading-03);
  }
}
