////
/// Background.
/// @group background
/// @copyright IBM Security 2020 - 2021
////

@import '@carbon/themes/scss/tokens';

@import '../../globals/border';
@import '../Component/mixins';

@include security--component($name: unstable--background) {
  background-color: $ui-01;
  outline: $border__sizing__width solid $ui-background;
}
