////
/// Card module.
/// @group card-module
/// @copyright IBM Security 2020
////

@import '@carbon/layout/scss/spacing';

@import '../../../Component/mixins';
@import '../variables';

@include security--component($name: #{$layout-modules__name}--card) {
  /// Spacing.
  /// @type Length
  $layout--card__spacing: $carbon--layout-03;

  &__card {
    margin-bottom: $layout--card__spacing;
  }

  &__action {
    margin-bottom: $layout--card__spacing;
  }
}
