////
/// Progress indicator component.
/// @group progress-indicator
/// @copyright IBM Security 2019
////

@import 'carbon-components/scss/components/progress-indicator/progress-indicator';

@import '../Tooltip/index';

/// TODO - Remove when Carbon revists colors for hover + disabled states.
@include export-namespace($name: progress-indicator) {
  .#{$prefix}--progress-step:not(.#{$prefix}--progress-step--disabled) {
    svg {
      fill: $interactive-04;
    }

    .#{$prefix}--progress-label {
      @include carbon--type-style('body-long-01');
      color: $text-01;

      &:focus {
        @include focus-outline('outline');
        outline-offset: unset;
      }

      &:hover {
        color: $link-01;
        box-shadow: 0 1px $interactive-04;
      }
    }
  }

  .#{$prefix}--progress-step--disabled {
    svg {
      fill: $disabled-03;
    }

    .#{$prefix}--progress-label {
      color: $disabled-03;
    }

    &__step--complete .#{$prefix}--progress-line {
      background-color: $disabled-03;
    }
  }

  .#{$prefix}--progress-step--complete .#{$prefix}--progress-line,
  .#{$prefix}--progress-step--current .#{$prefix}--progress-line {
    background-color: $interactive-04;
  }
}
